<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pauseSemanticLeftArray</key>
	<string>keepSubstantialGrainAdapter</string>
	<key>restartHyperbolicDataList</key>
	<string>getCartesianSoundManager</string>
</dict>
</plist>
