<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleSemanticVarExtension</key>
	<string>setKeyGrayscaleReference</string>
	<key>holdLocalPaddingPool</key>
	<string>resumeBasicGridPool</string>
	<key>quitGlobalBufferReference</key>
	<string>decoupleConcreteParameterPool</string>
	<key>stopDeclarativeDescriptionHelper</key>
	<string>pauseDedicatedCoordReference</string>
	<key>writeAccessibleStatusFilter</key>
	<string>resumeDirectlySpecifierFactory</string>
</dict>
</plist>
