<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueIntuitiveBoundManager</key>
	<string>lockCartesianAllocatorFactory</string>
	<key>setImmutableBorderProtocol</key>
	<string>getCrudeAmortizationManager</string>
	<key>trainMultiLayoutCreator</key>
	<string>endTensorGraphicReference</string>
</dict>
</plist>
