<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueAccordionParameterFactory</key>
	<string>getMediocreQueueFactory</string>
	<key>initializeBasicSceneDelegate</key>
	<string>scheduleDisparateStyleReference</string>
	<key>setIterativeVertexBase</key>
	<string>readSemanticPreviewContainer</string>
	<key>skipFirstThresholdCache</key>
	<string>getSubtleVarCollection</string>
</dict>
</plist>
