<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishRobustBaseCache</key>
	<string>keepSmallVariableGroup</string>
	<key>getGeometricBehaviorProtocol</key>
	<string>clearDiversifiedItemHelper</string>
	<key>getLostColorReference</key>
	<string>getGranularParamDelegate</string>
	<key>keepDedicatedGramHelper</key>
	<string>getSortedProgressBarImplement</string>
	<key>pauseLastRotationManager</key>
	<string>getActivatedFlagsPool</string>
	<key>quitGreatMaterialOwner</key>
	<string>dropoutEnabledInteractionContainer</string>
	<key>resumeBasicBottomReference</key>
	<string>addCustomBufferObserver</string>
	<key>skipSemanticElasticityDecorator</key>
	<string>skipOldFeatureArray</string>
	<key>startPrimaryViewReference</key>
	<string>pauseHyperbolicTailCollection</string>
</dict>
</plist>
