<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endUnactivatedCursorOwner</key>
	<string>setDisplayableResultContainer</string>
	<key>finishLocalSchemaCreator</key>
	<string>setDiversifiedItemReference</string>
	<key>getSmallParameterImplement</key>
	<string>findUniqueRoleCache</string>
	<key>navigateGlobalListenerProtocol</key>
	<string>setSmallScalabilityPool</string>
	<key>skipOtherHashInstance</key>
	<string>cancelFusedLeftDelegate</string>
	<key>startUniqueResolverAdapter</key>
	<string>getReusableOpacityDelegate</string>
</dict>
</plist>
