<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getMainSegmentReference</key>
	<string>pauseTypicalParticleManager</string>
	<key>pauseCrucialSampleArray</key>
	<string>restartSingleDocumentDelegate</string>
	<key>setAdvancedReferenceDecorator</key>
	<string>initializeStaticBufferCreator</string>
</dict>
</plist>
