<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueReusableMasterManager</key>
	<string>pauseLiteSchemaObserver</string>
	<key>resumeStaticVariableList</key>
	<string>analyzeEphemeralIndexGroup</string>
	<key>setPublicTempleCollection</key>
	<string>freeSecondParameterCollection</string>
	<key>shearUniformImpactType</key>
	<string>wrapDiscardedTaskCollection</string>
	<key>stopCustomMissionDelegate</key>
	<string>getNumericalPopupCreator</string>
</dict>
</plist>
