<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelAccordionScaleStack</key>
	<string>prepareStaticTempleHelper</string>
	<key>cancelImmutableFeatureFilter</key>
	<string>clearExplicitBoundPool</string>
	<key>equalMultiBoundFilter</key>
	<string>refreshNewestTextArray</string>
	<key>equalPermissiveEntropyGroup</key>
	<string>cancelDiscardedReplicaTarget</string>
	<key>getTypicalZoneDecorator</key>
	<string>setFusedGroupArray</string>
	<key>setSortedPositionFilter</key>
	<string>continueUsedDataDecorator</string>
	<key>writeProtectedAssetReference</key>
	<string>shearSymmetricMetadataPool</string>
</dict>
</plist>
