<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initializeUnsortedLayerFactory</key>
	<string>restartLastProfileFilter</string>
	<key>navigatePriorSizeGroup</key>
	<string>unscheduleSharedTempleFactory</string>
	<key>skipConcurrentNumberImplement</key>
	<string>pauseSpecifyTopicCollection</string>
</dict>
</plist>
