<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getLocalTempleHandler</key>
	<string>setDedicatedSkewXType</string>
	<key>restartAccessibleOpacityInstance</key>
	<string>lockSortedValueImplement</string>
	<key>restartMutableCoordTarget</key>
	<string>getFusedVisibleCollection</string>
	<key>setEuclideanNameTarget</key>
	<string>detachHierarchicalRendererFilter</string>
	<key>startOpaqueVariableCreator</key>
	<string>getNextCapacitiesInstance</string>
</dict>
</plist>
