<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSemanticNameOwner</key>
	<string>cancelAutoContractionObserver</string>
	<key>endSpecifyColorGroup</key>
	<string>obtainOpaqueProjectionCollection</string>
	<key>renameDenseParamOwner</key>
	<string>startImmutableIndexBase</string>
	<key>resumeRelationalProjectDecorator</key>
	<string>getSimilarCertificateBase</string>
	<key>updateOldValueObserver</key>
	<string>setMissedCenterType</string>
</dict>
</plist>
