<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getElasticChapterProtocol</key>
	<string>initializeFusedAxisFactory</string>
	<key>pauseUniqueSkewYHandler</key>
	<string>getCriticalMeshDecorator</string>
	<key>setPermanentGrainOwner</key>
	<string>prepareCommonParameterList</string>
	<key>skipSubstantialAlphaAdapter</key>
	<string>stopSubsequentLayoutExtension</string>
	<key>startCrudeParamCollection</key>
	<string>prepareMutableSkewXProtocol</string>
</dict>
</plist>
