<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getPrimaryDescentProtocol</key>
	<string>setSingleLeftGroup</string>
	<key>initializeRelationalVariableTarget</key>
	<string>parseLiteCertificateContainer</string>
	<key>pauseEasyStyleCache</key>
	<string>updateDiscardedResilienceGroup</string>
	<key>rectifySmallButtonPool</key>
	<string>trainPrismaticBandwidthPool</string>
</dict>
</plist>
