<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachArithmeticFrameExtension</key>
	<string>getMediumVolumeTarget</string>
	<key>endUnactivatedTagCollection</key>
	<string>limitLocalUtilDelegate</string>
	<key>finishBackwardSampleOwner</key>
	<string>finishRobustNodeHelper</string>
	<key>getMediocreRectangleInstance</key>
	<string>getConcreteMenuFilter</string>
	<key>multiplyRobustLayerFactory</key>
	<string>keepLostPermutationImplement</string>
	<key>pauseOriginalDimensionInstance</key>
	<string>setGranularTopObserver</string>
	<key>removeConcurrentGroupReference</key>
	<string>convertAsynchronousAllocatorPool</string>
	<key>setPivotalImageExtension</key>
	<string>startHyperbolicDurationHelper</string>
	<key>skipAccordionVarAdapter</key>
	<string>getLastSubpixelAdapter</string>
</dict>
</plist>
