<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSophisticatedStrokeAdapter</key>
	<string>getNumericalChapterReference</string>
	<key>equalBackwardStatusDecorator</key>
	<string>limitCartesianScalabilityAdapter</string>
	<key>getElasticDetailAdapter</key>
	<string>cancelFusedParticleList</string>
	<key>scheduleSortedParamType</key>
	<string>getHardScaleFactory</string>
</dict>
</plist>
