<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureEuclideanAudioStack</key>
	<string>writeAgileOccasionGroup</string>
	<key>prepareMainVarInstance</key>
	<string>setRapidRightObserver</string>
	<key>restartNextRowDelegate</key>
	<string>writeMultiPlaybackType</string>
	<key>rotateDiscardedTempleCollection</key>
	<string>setPriorValueHandler</string>
	<key>setReusableAllocatorContainer</key>
	<string>setSubstantialDocumentProtocol</string>
	<key>skipConcreteSpriteObserver</key>
	<string>initializeTensorHashInstance</string>
</dict>
</plist>
