<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findUniformBufferArray</key>
	<string>skipSeamlessMeshDelegate</string>
	<key>getNormalModulePool</key>
	<string>finishGeometricStrokeExtension</string>
	<key>multiplyHierarchicalOriginAdapter</key>
	<string>pauseIterativeImpressionList</string>
	<key>setSecondColorProtocol</key>
	<string>stopPermanentTempleAdapter</string>
	<key>setSynchronousLogAdapter</key>
	<string>setKeyBufferDelegate</string>
	<key>skipPermissiveDepthManager</key>
	<string>regulateRespectiveSizePool</string>
</dict>
</plist>
