<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>escalateMissedParameterAdapter</key>
	<string>setAsynchronousResultDelegate</string>
	<key>finishSingleChapterImplement</key>
	<string>setRespectiveAscentOwner</string>
	<key>getCustomInitiativeAdapter</key>
	<string>adjustCriticalRowDelegate</string>
	<key>keepRequiredBaselineExtension</key>
	<string>restartAdvancedStrokeReference</string>
</dict>
</plist>
