<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endPrevTempleStack</key>
	<string>readConcreteValueType</string>
	<key>fillUniformBufferManager</key>
	<string>setAccessibleMeshHandler</string>
	<key>finishMissedCertificateDecorator</key>
	<string>keepCriticalTailPool</string>
	<key>getFirstInitiativeFilter</key>
	<string>movePermanentVarExtension</string>
	<key>getHierarchicalValueDecorator</key>
	<string>getPermanentPrecisionList</string>
	<key>getPivotalConfidentialityList</key>
	<string>setConsultativeColorBase</string>
	<key>prepareEphemeralResolverFactory</key>
	<string>endOriginalTextureHelper</string>
	<key>setCurrentDurationAdapter</key>
	<string>cancelPermissiveChartTarget</string>
</dict>
</plist>
