<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateOpaqueFeatureType</key>
	<string>setAccessibleMetricsManager</string>
	<key>endCommonHeadReference</key>
	<string>continueEuclideanZoneContainer</string>
	<key>generateAgileMobileCache</key>
	<string>setIntuitiveDepthType</string>
	<key>getImmutableGrayscaleContainer</key>
	<string>startSustainablePaddingStack</string>
	<key>getOldBatchInstance</key>
	<string>pauseUniqueVarDecorator</string>
	<key>startEnabledRectInstance</key>
	<string>allocateActivatedPreviewManager</string>
</dict>
</plist>
