<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMissedGroupFilter</key>
	<string>getConsultativeAccessoryDelegate</string>
	<key>getSignificantMatrixHelper</key>
	<string>moveRequiredVariableOwner</string>
	<key>getUnsortedVectorPool</key>
	<string>retainAssociatedNumberOwner</string>
	<key>pushDifficultNumberCache</key>
	<string>skipImmutableSliderCreator</string>
	<key>setGranularMovementManager</key>
	<string>transposePrevConstantReference</string>
	<key>setMissedEquipmentGroup</key>
	<string>finishDirectlyEffectBase</string>
</dict>
</plist>
