<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endPublicVariableList</key>
	<string>embracePermanentZoneContainer</string>
	<key>getPrimaryGrainArray</key>
	<string>preparePivotalGridInstance</string>
	<key>getProtectedAllocatorManager</key>
	<string>endCriticalUtilReference</string>
	<key>initializeStandaloneEffectStack</key>
	<string>reflectFirstChapterHelper</string>
	<key>readSignificantTempleFactory</key>
	<string>setDirectlyProgressBarBase</string>
	<key>setAgileFragmentDelegate</key>
	<string>resizeUnsortedHeroList</string>
</dict>
</plist>
