<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipDirectBufferAdapter</key>
	<string>markDifficultFlagsArray</string>
	<key>concatenateBasicBinaryProtocol</key>
	<string>reduceBackwardStateType</string>
	<key>findPriorVariableDecorator</key>
	<string>prepareSemanticSpriteType</string>
	<key>finishBeginnerTempleDelegate</key>
	<string>obtainAdvancedHeadTarget</string>
	<key>moveSortedDescriptionProtocol</key>
	<string>poolArithmeticQuaternionList</string>
	<key>setEasyViewFactory</key>
	<string>setFusedVariableManager</string>
	<key>setStaticIntegrationExtension</key>
	<string>getUsedRotationDelegate</string>
	<key>trainSemanticCoordBase</key>
	<string>setSymmetricOriginPool</string>
	<key>visitAccessibleNumberCollection</key>
	<string>setDenseHeadDelegate</string>
</dict>
</plist>
