<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exitGreatHeadManager</key>
	<string>getUsedParamReference</string>
	<key>offsetGranularRotationOwner</key>
	<string>stopSortedVisibleFilter</string>
	<key>poolGreatColorType</key>
	<string>finishFusedTagDelegate</string>
	<key>prepareUsedGridImplement</key>
	<string>showFusedTagManager</string>
	<key>setAutoVariableList</key>
	<string>mitigateMissedBufferBase</string>
</dict>
</plist>
