<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endBackwardHeadDelegate</key>
	<string>skipImmutableParticleOwner</string>
	<key>extendEnabledIntegrityDelegate</key>
	<string>appendDifficultSkewYList</string>
	<key>makeStaticIntensityType</key>
	<string>getRelationalDescriptionManager</string>
	<key>setUnsortedVarFactory</key>
	<string>getNormalResilienceFactory</string>
	<key>showLocalBoundInstance</key>
	<string>markLocalMonsterManager</string>
	<key>startEuclideanClusterTarget</key>
	<string>getPrevTraversalGroup</string>
</dict>
</plist>
