<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelProtectedBufferDelegate</key>
	<string>pauseHierarchicalRightAdapter</string>
	<key>finishNumericalNodeObserver</key>
	<string>restartLargeOriginManager</string>
	<key>getSubstantialAllocatorObserver</key>
	<string>getOldVarArray</string>
	<key>keepOldComponentCollection</key>
	<string>clearDirectPreviewOwner</string>
</dict>
</plist>
