<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateLargeAmortizationStack</key>
	<string>appendEasyMissionInstance</string>
	<key>appendOtherFeatureInstance</key>
	<string>showPermissiveTempleReference</string>
	<key>getPublicInfoExtension</key>
	<string>getBackwardTopDecorator</string>
	<key>getRetainedViewImplement</key>
	<string>limitSmartBufferOwner</string>
</dict>
</plist>
