<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueSortedLoopFilter</key>
	<string>replaceNewestPopupOwner</string>
	<key>getNewestTopExtension</key>
	<string>convertFusedVectorDecorator</string>
	<key>initializeMissedPlateCache</key>
	<string>continueDirectKernelHelper</string>
	<key>renameDifficultParamArray</key>
	<string>keepAccessibleGramHelper</string>
	<key>setTypicalCoordContainer</key>
	<string>getEphemeralFrameHelper</string>
	<key>showDelicateCatalystManager</key>
	<string>getAccessibleUtilImplement</string>
</dict>
</plist>
