<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateAccordionDispatcherManager</key>
	<string>getMissedPreviewStack</string>
	<key>captureMediumRotationTarget</key>
	<string>stopReusableTopFactory</string>
	<key>cleanCriticalVarHelper</key>
	<string>startReusableTempleCache</string>
	<key>endComprehensiveParamType</key>
	<string>trainElasticCycleArray</string>
	<key>endTensorTempleFilter</key>
	<string>readBasicPolygonObserver</string>
	<key>getAssociatedTopicDelegate</key>
	<string>seekStandaloneFeatureExtension</string>
	<key>getGranularBandwidthExtension</key>
	<string>embedImmutableHeadContainer</string>
	<key>restartAgileRestrictionAdapter</key>
	<string>dismissGreatTweakObserver</string>
	<key>resumeOldVariableOwner</key>
	<string>setBackwardRecursionTarget</string>
</dict>
</plist>
