<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSynchronousBufferDecorator</key>
	<string>setDirectlyScaleFilter</string>
	<key>offsetLargeRestrictionProtocol</key>
	<string>setComprehensiveContrastInstance</string>
	<key>provideDenseExponentTarget</key>
	<string>setSymmetricFrameFilter</string>
	<key>quitPivotalResultBase</key>
	<string>getKeyPermutationInstance</string>
	<key>readIterativeDepthOwner</key>
	<string>setMissedTextureImplement</string>
	<key>transposeMediumVariableOwner</key>
	<string>comparePrevBandwidthFilter</string>
</dict>
</plist>
