<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelConcurrentVarType</key>
	<string>setCrudeVariableTarget</string>
	<key>checkLiteMechanismImplement</key>
	<string>trainCartesianResultGroup</string>
	<key>continueEnabledVarList</key>
	<string>pauseMainStrokeReference</string>
	<key>getPrismaticCapsuleBase</key>
	<string>pushAccordionColorOwner</string>
	<key>getSecondAudioDecorator</key>
	<string>getTensorIntegrationDelegate</string>
	<key>introspectCriticalDescriptionStack</key>
	<string>getFusedLeftCollection</string>
	<key>setImmutableIndexExtension</key>
	<string>getEasyValueHelper</string>
	<key>skipAssociatedNumberManager</key>
	<string>freeNormalIndexObserver</string>
</dict>
</plist>
