<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelOriginalScaleHandler</key>
	<string>setHierarchicalCosineHandler</string>
	<key>extendAccordionPositionArray</key>
	<string>pauseConsultativeApertureExtension</string>
	<key>setExplicitSpecifierGroup</key>
	<string>setAdvancedDepthContainer</string>
	<key>setOtherStrokeGroup</key>
	<string>differentiateUniformAllocatorList</string>
	<key>syncSubtleConfidentialityCreator</key>
	<string>skipAsynchronousVarGroup</string>
</dict>
</plist>
