<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getFirstProgressBarAdapter</key>
	<string>getMissedListenerObserver</string>
	<key>limitSubsequentBorderExtension</key>
	<string>endCrucialSceneCollection</string>
	<key>pauseIgnoredBoundBase</key>
	<string>conformCriticalFlagsPool</string>
	<key>restartEasySymbolInstance</key>
	<string>stopAccessibleEqualizationOwner</string>
	<key>setAssociatedBufferPool</key>
	<string>retrieveCartesianCoordOwner</string>
	<key>setBeginnerLatencyOwner</key>
	<string>getResilientGrayscaleTarget</string>
	<key>stopSortedGemHelper</key>
	<string>getDirectlyBufferInstance</string>
</dict>
</plist>
