<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getHardTempleOwner</key>
	<string>pauseTypicalSkinInstance</string>
	<key>setUniformLatencyImplement</key>
	<string>getPermissiveLabelProtocol</string>
	<key>startSmallParameterInstance</key>
	<string>displayPrismaticParamImplement</string>
</dict>
</plist>
