<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelNumericalActivityInstance</key>
	<string>getAgileOpacityGroup</string>
	<key>endAgilePositionInstance</key>
	<string>setStaticCenterObserver</string>
	<key>extendTensorNodeOwner</key>
	<string>undertakeDenseAllocatorInstance</string>
	<key>setIntermediateButtonList</key>
	<string>setIntermediateSpriteCreator</string>
	<key>setRetainedDepthType</key>
	<string>unscheduleSharedTailList</string>
	<key>setSecondLoopList</key>
	<string>setActivatedTentativeFilter</string>
	<key>touchSharedModuleReference</key>
	<string>cancelTypicalScopeArray</string>
</dict>
</plist>
