<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishUnactivatedRectCache</key>
	<string>pauseDifficultParamArray</string>
	<key>locateReusableValueExtension</key>
	<string>cancelBeginnerMusicDelegate</string>
	<key>prepareStaticCycleManager</key>
	<string>skipNextSceneDelegate</string>
	<key>resumeConsultativeStateManager</key>
	<string>discoverPublicNameHelper</string>
	<key>setTypicalConstantList</key>
	<string>stopEuclideanInstructionStack</string>
</dict>
</plist>
