<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeOpaqueOriginBase</key>
	<string>getPermissiveVariableFactory</string>
	<key>initializeCriticalPointInstance</key>
	<string>unscheduleKeyTechniqueTarget</string>
	<key>initializeGranularSymbolInstance</key>
	<string>cancelUsedBoxTarget</string>
	<key>resumeHyperbolicVarManager</key>
	<string>setNextOptionReference</string>
	<key>setOpaqueContractionPool</key>
	<string>continueSophisticatedParamCache</string>
	<key>setPermanentChapterGroup</key>
	<string>cancelFusedValueFactory</string>
	<key>setSimilarGrayscaleDecorator</key>
	<string>continueConcreteLayerExtension</string>
	<key>setSubstantialVariantCache</key>
	<string>exitCrucialPositionInstance</string>
	<key>skipMissedAxisTarget</key>
	<string>getNewestRectProtocol</string>
	<key>skipUniformVariantGroup</key>
	<string>embraceLastConsumptionManager</string>
</dict>
</plist>
