<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloneMainParameterCache</key>
	<string>removeMediocreTagDecorator</string>
	<key>skipConcretePositionManager</key>
	<string>setPrimaryRouteProtocol</string>
	<key>startPriorGrayscaleBase</key>
	<string>decoupleCartesianBufferCache</string>
</dict>
</plist>
