<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addOriginalBufferCache</key>
	<string>continueUnsortedVarFilter</string>
	<key>dismissMultiFrameOwner</key>
	<string>addRetainedScaleDelegate</string>
	<key>endIterativeLayerFilter</key>
	<string>getBackwardChartTarget</string>
	<key>endKeyVarPool</key>
	<string>visitResilientSpineCollection</string>
	<key>endTypicalReplicaGroup</key>
	<string>getConcreteParamCollection</string>
	<key>getExplicitVarContainer</key>
	<string>setComprehensiveTempleReference</string>
	<key>getSecondFlagsManager</key>
	<string>setSemanticIntegrityReference</string>
	<key>keepSingleBorderHelper</key>
	<string>setUsedScenarioTarget</string>
	<key>limitLocalVariableManager</key>
	<string>setSmallSliderPool</string>
	<key>showSubstantialBoundDelegate</key>
	<string>setEphemeralBitrateTarget</string>
</dict>
</plist>
