<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDirectlyMetadataCache</key>
	<string>detachSmartSkewXReference</string>
	<key>reduceImmutableVisibleFactory</key>
	<string>mitigateDifficultColorCollection</string>
	<key>resetPrimarySchedulerFactory</key>
	<string>restartImmutableEqualizationStack</string>
	<key>resumeCurrentNumberCreator</key>
	<string>setUniqueElementAdapter</string>
	<key>trainRetainedFlagsManager</key>
	<string>getSimilarOptionInstance</string>
</dict>
</plist>
