<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleDirectItemType</key>
	<string>playMediumImageDecorator</string>
	<key>detachSubstantialLeftContainer</key>
	<string>getSubstantialResilienceManager</string>
	<key>finishSemanticInfoReference</key>
	<string>keepOtherVariableCreator</string>
	<key>getGeometricStrokeStack</key>
	<string>clearDiscardedGroupReference</string>
	<key>getProtectedVarCreator</key>
	<string>trainArithmeticAnimationArray</string>
	<key>mitigateProtectedParameterHelper</key>
	<string>stopElasticSkewYInstance</string>
	<key>prepareLastPolyfillReference</key>
	<string>unscheduleMissedMusicFilter</string>
	<key>provideNumericalParamOwner</key>
	<string>obtainPermanentContrastInstance</string>
	<key>visitLiteReliabilityInstance</key>
	<string>setUniformSpriteInstance</string>
</dict>
</plist>
