<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustResilientFormatInstance</key>
	<string>restartSubtleSpotReference</string>
	<key>initializeDirectZoneFactory</key>
	<string>shearSharedLeftArray</string>
	<key>setSemanticButtonGroup</key>
	<string>introspectBeginnerCoordPool</string>
	<key>startDisplayableChecklistDecorator</key>
	<string>getNormalCenterBase</string>
	<key>stopMainAlphaList</key>
	<string>startEnabledTextureBase</string>
</dict>
</plist>
