<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueBackwardTextOwner</key>
	<string>eraseUsedOptionFactory</string>
	<key>freePriorChartDecorator</key>
	<string>holdAssociatedRestrictionInstance</string>
	<key>getAccordionStyleGroup</key>
	<string>destroyKeyResolverType</string>
	<key>getCriticalPrecisionHelper</key>
	<string>prepareMultiButtonBase</string>
	<key>getHierarchicalTempleCreator</key>
	<string>keepGlobalVariableBase</string>
	<key>getPrismaticFlagsPool</key>
	<string>getSemanticTemplePool</string>
	<key>mitigateIntermediateNameTarget</key>
	<string>renameAccordionResultHelper</string>
	<key>setUnactivatedVarContainer</key>
	<string>offsetSecondShapeCreator</string>
	<key>unscheduleUniformColorImplement</key>
	<string>getResilientStampBase</string>
</dict>
</plist>
