<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendPivotalProjectPool</key>
	<string>cancelIgnoredAnchorInstance</string>
	<key>getBasicTaxonomyOwner</key>
	<string>getOtherVarCollection</string>
	<key>pausePrimaryCaptionArray</key>
	<string>quantizerPrismaticItemCreator</string>
	<key>removeNumericalFormatTarget</key>
	<string>getDiversifiedDimensionArray</string>
	<key>resumeCommonValueArray</key>
	<string>pushEphemeralSizePool</string>
	<key>setHyperbolicGrainGroup</key>
	<string>getPrevShaderHandler</string>
	<key>stopFirstParameterPool</key>
	<string>getDeclarativeBufferInstance</string>
	<key>unlockPrevVarManager</key>
	<string>prepareOriginalSoundDelegate</string>
</dict>
</plist>
