<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipOtherMovementTarget</key>
	<string>restartGeometricInterpolationFilter</string>
	<key>enhancePrimaryDescriptionType</key>
	<string>getCriticalNumberPool</string>
	<key>getSingleSkewYCollection</key>
	<string>skipActivatedTaxonomyReference</string>
	<key>getSubstantialDescentCollection</key>
	<string>stopPermanentTemplePool</string>
	<key>skipSpecifyNumberObserver</key>
	<string>readGranularNodeType</string>
	<key>trainFirstActionImplement</key>
	<string>getUsedVariableImplement</string>
</dict>
</plist>
