<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleHardLoopFilter</key>
	<string>endComprehensiveLeftOwner</string>
	<key>finishSemanticOpacityAdapter</key>
	<string>trainNextPopupFilter</string>
	<key>getSmallLeftImplement</key>
	<string>getArithmeticNameTarget</string>
	<key>streamlineOldParamList</key>
	<string>cleanSubsequentDispatcherBase</string>
</dict>
</plist>
