<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getLitePreviewTarget</key>
	<string>initializeOtherIntegerCollection</string>
	<key>keepPrismaticParamObserver</key>
	<string>setGlobalIntegerFilter</string>
	<key>optimizeEuclideanFlagsContainer</key>
	<string>setArithmeticAllocatorDecorator</string>
	<key>pauseNumericalCoordImplement</key>
	<string>setMultiIntensityInstance</string>
	<key>pausePrismaticRotationGroup</key>
	<string>adjustStaticParameterPool</string>
	<key>setRespectiveTopFilter</key>
	<string>freeBeginnerChannelsExtension</string>
	<key>syncImmutableChartTarget</key>
	<string>getDeclarativeCoordList</string>
</dict>
</plist>
