<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelAssociatedHeadOwner</key>
	<string>convertSubtleMomentumList</string>
	<key>getActivatedTextureExtension</key>
	<string>getCrudeAscentList</string>
	<key>getDisparateIntegerInstance</key>
	<string>setCrucialSkinAdapter</string>
	<key>getOtherHeadGroup</key>
	<string>continueDiscardedTangentArray</string>
	<key>setPriorScreenDelegate</key>
	<string>setCartesianInfoFactory</string>
</dict>
</plist>
