<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findCartesianMapHelper</key>
	<string>getEuclideanTitleCreator</string>
	<key>getBasicResolverReference</key>
	<string>getReusableResolverContainer</string>
	<key>resumeLostRowList</key>
	<string>pauseDeclarativeBandwidthReference</string>
	<key>resumeMultiControllerPool</key>
	<string>respondProtectedRemediationTarget</string>
	<key>setArithmeticCapacityProtocol</key>
	<string>adjustSeamlessValueList</string>
	<key>stopTensorSpriteBase</key>
	<string>setFirstDataReference</string>
</dict>
</plist>
