<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locateSecondTextAdapter</key>
	<string>getMissedNumberPool</string>
	<key>playSortedParticleCollection</key>
	<string>trainIntermediateVarOwner</string>
	<key>reflectPivotalAudioTarget</key>
	<string>finishIgnoredBottomReference</string>
</dict>
</plist>
