<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getHyperbolicStateProtocol</key>
	<string>executePivotalSymbolPool</string>
	<key>pauseConcreteFeatureBase</key>
	<string>cancelDisparateParamFilter</string>
	<key>setNormalShaderFactory</key>
	<string>replaceAgileParameterOwner</string>
</dict>
</plist>
