<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachRespectiveParamExtension</key>
	<string>getPrimaryGridProtocol</string>
	<key>finishOtherPopupProtocol</key>
	<string>setNextLayerContainer</string>
	<key>setOldRestrictionExtension</key>
	<string>setMediumSpineCollection</string>
	<key>setSmallItemHandler</key>
	<string>encapsulateLocalParamList</string>
	<key>writeElasticTempleList</key>
	<string>trainRobustTaxonomyManager</string>
</dict>
</plist>
