<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSortedEdgeCache</key>
	<string>setHyperbolicMenuType</string>
	<key>finishCartesianOptimizerAdapter</key>
	<string>skipConsultativeParamCollection</string>
	<key>insteadNumericalTailHelper</key>
	<string>skipStandaloneParameterFilter</string>
	<key>restartBasicObserverObserver</key>
	<string>cancelCrudeEvaluationFilter</string>
	<key>retainSemanticBatchProtocol</key>
	<string>getPrismaticValueCollection</string>
	<key>setAccordionConvolutionTarget</key>
	<string>respondNewestNumberReference</string>
	<key>setIntermediateTitleExtension</key>
	<string>stopSinglePreviewExtension</string>
	<key>showMutableInterfaceManager</key>
	<string>getRelationalSkewXImplement</string>
</dict>
</plist>
