<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareCustomPositionPool</key>
	<string>endExplicitTechniqueCache</string>
	<key>continueCrucialBufferCreator</key>
	<string>setReusablePolygonFilter</string>
	<key>getCustomConfigurationPool</key>
	<string>resumeSharedVariableOwner</string>
	<key>getSemanticCatalystCreator</key>
	<string>keepBackwardLayoutDelegate</string>
	<key>setAsynchronousViewManager</key>
	<string>augmentCustomizedGraphGroup</string>
	<key>trainBeginnerTitleOwner</key>
	<string>skipSubstantialSkewXList</string>
	<key>writeCriticalColorCreator</key>
	<string>cancelStandaloneTempleInstance</string>
	<key>writeNumericalElasticityType</key>
	<string>keepFirstVariableType</string>
</dict>
</plist>
