<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropoutSubstantialScopeFilter</key>
	<string>setRequiredChartOwner</string>
	<key>initializeHardTopProtocol</key>
	<string>storeSimilarBufferDecorator</string>
	<key>insteadIgnoredListenerInstance</key>
	<string>setSmartParamPool</string>
	<key>locateNumericalPlateGroup</key>
	<string>setDenseTagBase</string>
	<key>respondImmutableParameterDelegate</key>
	<string>setConsultativeRouteHelper</string>
	<key>setLostIndicatorReference</key>
	<string>restartDeclarativeCompositionGroup</string>
</dict>
</plist>
