<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDirectlyPositionExtension</key>
	<string>setDeclarativeProvisionType</string>
	<key>getImmutableOriginList</key>
	<string>finishAsynchronousVarTarget</string>
	<key>getMainArchitectureTarget</key>
	<string>analyzeUniqueFragmentsInstance</string>
	<key>pauseIgnoredParamProtocol</key>
	<string>moveUnactivatedOptionDelegate</string>
	<key>setIntuitiveAnalogyContainer</key>
	<string>getSecondCardFactory</string>
	<key>stopTensorParameterArray</key>
	<string>cancelOriginalVisibleBase</string>
</dict>
</plist>
