<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endRobustChallengeBase</key>
	<string>setCrudeOpacityFilter</string>
	<key>finishCurrentElasticityFactory</key>
	<string>initializeFusedGroupManager</string>
	<key>finishDedicatedRectFactory</key>
	<string>releasePrimaryHeadGroup</string>
	<key>getSubtleParameterInstance</key>
	<string>endPermissiveTitlePool</string>
	<key>reduceBackwardIntegerReference</key>
	<string>computePrismaticColorInstance</string>
	<key>respondNormalRowType</key>
	<string>cancelProtectedUtilManager</string>
	<key>setDirectlyEntropyHelper</key>
	<string>renameTensorTextureProtocol</string>
	<key>setNormalBorderDelegate</key>
	<string>reduceAccessibleLossReference</string>
	<key>startAccessibleEffectCache</key>
	<string>generateImmutableSliderFactory</string>
	<key>unlockLocalBoundAdapter</key>
	<string>getNextBufferHelper</string>
</dict>
</plist>
