<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCartesianTailHelper</key>
	<string>provideDisparateParamHelper</string>
	<key>getDifficultButtonPool</key>
	<string>getSustainableTempleHandler</string>
	<key>restartRobustNumberCreator</key>
	<string>setDiscardedLeftReference</string>
	<key>scheduleMainTextureList</key>
	<string>setUsedRoleAdapter</string>
</dict>
</plist>
