<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateIndependentIndexAdapter</key>
	<string>setDelicateNumberAdapter</string>
	<key>discoverCartesianTopList</key>
	<string>getUniformStyleProtocol</string>
	<key>freePermissiveSizeCollection</key>
	<string>offsetLastGroupDecorator</string>
	<key>quitSpecifyRowExtension</key>
	<string>appendKeyVariableDecorator</string>
	<key>refreshSemanticGemAdapter</key>
	<string>getPermanentLeftGroup</string>
	<key>setMediumTagOwner</key>
	<string>skipGlobalFeatureHelper</string>
	<key>stopPivotalTrajectoryObserver</key>
	<string>offsetSmallSlashStack</string>
</dict>
</plist>
