<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateDirectDistinctionFilter</key>
	<string>setCrudeResilienceBase</string>
	<key>getAssociatedTopFactory</key>
	<string>setSignificantChapterDelegate</string>
	<key>getSignificantOriginList</key>
	<string>trainDiscardedBufferImplement</string>
	<key>getUnactivatedMapCollection</key>
	<string>initializeMissedStyleContainer</string>
	<key>keepStandaloneGridHelper</key>
	<string>markUnsortedOpacityBase</string>
	<key>poolMissedValueStack</key>
	<string>detachSubsequentSkirtDelegate</string>
	<key>resumeDirectRemediationManager</key>
	<string>introspectElasticEdgeReference</string>
</dict>
</plist>
