<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustNextGiftList</key>
	<string>setFusedBufferDecorator</string>
	<key>fillDirectProjectionBase</key>
	<string>getSubtleEvolutionDelegate</string>
	<key>regulateDenseNumberPool</key>
	<string>initializeUsedValueCollection</string>
	<key>skipNextMendDecorator</key>
	<string>resizeResilientDimensionObserver</string>
	<key>spinImmutableChapterTarget</key>
	<string>setLiteEdgeHelper</string>
</dict>
</plist>
