<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueIterativeConfigurationGroup</key>
	<string>playHierarchicalResultDelegate</string>
	<key>rectifyDirectlyTempleImplement</key>
	<string>compareDirectContractionExtension</string>
	<key>setAdvancedTitleObserver</key>
	<string>stopSmallScreenHelper</string>
</dict>
</plist>
