<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getAccordionFragmentOwner</key>
	<string>startBasicBaseManager</string>
	<key>pauseImmutableParameterType</key>
	<string>appendOtherMatrixDelegate</string>
	<key>quantizerDedicatedShapeBase</key>
	<string>shearMediumHeadManager</string>
	<key>setCriticalSkewXExtension</key>
	<string>resumeSemanticLoopBase</string>
	<key>setDiversifiedGramCollection</key>
	<string>cancelComprehensiveAllocatorStack</string>
	<key>trainLastVarOwner</key>
	<string>executeDelicateSizeContainer</string>
	<key>upgradeGreatNumberList</key>
	<string>setSemanticSizeContainer</string>
	<key>visitProtectedRectDecorator</key>
	<string>initializeCustomConsumptionArray</string>
</dict>
</plist>
