<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endIntermediateDescriptionProtocol</key>
	<string>getLastIntensityOwner</string>
	<key>getAdvancedLayerReference</key>
	<string>embraceHyperbolicStyleDecorator</string>
	<key>setNumericalTempleFactory</key>
	<string>skipSeamlessVariablePool</string>
</dict>
</plist>
