<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueBeginnerValueTarget</key>
	<string>cancelSemanticToolType</string>
	<key>finishPrimaryBottomContainer</key>
	<string>prepareMainParamCache</string>
	<key>pauseIgnoredSliderAdapter</key>
	<string>getRequiredSizeExtension</string>
	<key>resumeExplicitGraphicCache</key>
	<string>setAccessibleCycleStack</string>
	<key>setDelicateSkirtBase</key>
	<string>finishSymmetricVarDecorator</string>
	<key>setNormalBoundHandler</key>
	<string>finishMutableChannelsCollection</string>
	<key>setProtectedParameterType</key>
	<string>detachPublicItemBase</string>
	<key>skipSmartLeftType</key>
	<string>cloneDelicateBufferInstance</string>
	<key>startEuclideanPetOwner</key>
	<string>prepareSeamlessButtonObserver</string>
</dict>
</plist>
