<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateSynchronousValueFilter</key>
	<string>executeSmallFlagsArray</string>
	<key>embraceCrudeSizeManager</key>
	<string>getRobustHeadDecorator</string>
	<key>initializeCrudeReductionType</key>
	<string>setRespectiveProjectionImplement</string>
	<key>optimizeCustomFrameStack</key>
	<string>getActivatedPopupFactory</string>
	<key>setIntermediateFlagsCreator</key>
	<string>endDirectTextPool</string>
	<key>setNormalTopDecorator</key>
	<string>setPermanentTrajectoryInstance</string>
	<key>shearDiscardedBufferAdapter</key>
	<string>setOriginalTaskArray</string>
	<key>stopDirectAnchorObserver</key>
	<string>pauseSmallSkewYArray</string>
</dict>
</plist>
