<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dissociateFusedCenterDecorator</key>
	<string>embracePrevAnimationDecorator</string>
	<key>parseReusableUtilStack</key>
	<string>reduceSmallEffectProtocol</string>
	<key>restartMainFormatHandler</key>
	<string>prepareConsultativePointAdapter</string>
	<key>setPrimaryUtilArray</key>
	<string>continueMultiIntensityManager</string>
	<key>setReusableExponentHandler</key>
	<string>continueRetainedDescentTarget</string>
	<key>setSmallSkirtHandler</key>
	<string>finishCrucialTempleDecorator</string>
	<key>skipMainOpacityCache</key>
	<string>setIntermediateEntropyGroup</string>
	<key>spinImmutableNumberOwner</key>
	<string>getNumericalTagPool</string>
	<key>updateOriginalValueStack</key>
	<string>initializeMissedSizeObserver</string>
</dict>
</plist>
