<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restartSophisticatedFlagsBase</key>
	<string>cancelConcurrentScaleFactory</string>
	<key>setBasicQueueStack</key>
	<string>offsetAccessibleOccasionCollection</string>
	<key>setUsedPolygonCollection</key>
	<string>restartUnactivatedBinaryGroup</string>
	<key>skipSingleVertexInstance</key>
	<string>executeEnabledSpecifierInstance</string>
	<key>startElasticCycleOwner</key>
	<string>skipPermissiveRectangleCreator</string>
</dict>
</plist>
