<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentActivatedSineContainer</key>
	<string>resumeUniformTextStack</string>
	<key>limitDiscardedProgressBarCreator</key>
	<string>setProtectedEdgeList</string>
	<key>setDenseNormType</key>
	<string>endLostShapeOwner</string>
	<key>setReusableEdgeImplement</key>
	<string>resumeGlobalRectangleCollection</string>
	<key>setSharedVariableProtocol</key>
	<string>trainConcretePositionDecorator</string>
	<key>startResilientValueCollection</key>
	<string>trainCartesianCoordCache</string>
</dict>
</plist>
