<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepHyperbolicVarInstance</key>
	<string>quantizerAccordionTimelineExtension</string>
	<key>setComprehensiveMenuReference</key>
	<string>getDirectDepthPool</string>
	<key>undertakeHardVarCollection</key>
	<string>setExplicitViewCache</string>
</dict>
</plist>
