<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>encapsulatePriorPlateTarget</key>
	<string>pauseLastConfigurationCache</string>
	<key>getFirstLatencyReference</key>
	<string>resumeHardModelContainer</string>
	<key>getSubsequentSoundOwner</key>
	<string>prepareDeclarativeScaleFactory</string>
	<key>reflectPublicTempleExtension</key>
	<string>concatenateUnsortedTopicCreator</string>
	<key>restartPivotalInterfaceStack</key>
	<string>setUniformVisibleFilter</string>
	<key>startSharedStepType</key>
	<string>seekSemanticCoordManager</string>
	<key>stopIgnoredExponentTarget</key>
	<string>setSimilarChapterHandler</string>
</dict>
</plist>
