<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addSynchronousParameterTarget</key>
	<string>setMediumRightOwner</string>
	<key>cancelDifficultInitiatorsImplement</key>
	<string>animateIgnoredInterfaceCache</string>
	<key>endSimilarReductionGroup</key>
	<string>parseSortedTentativeFilter</string>
	<key>mitigateSignificantTailArray</key>
	<string>limitCrudeCoordHelper</string>
	<key>prepareBackwardParamInstance</key>
	<string>initializeSecondEffectOwner</string>
	<key>setExplicitQueueStack</key>
	<string>getTensorCubeProtocol</string>
	<key>setPrimaryIntegerCreator</key>
	<string>endDifficultNodeDecorator</string>
	<key>syncLargeTagObserver</key>
	<string>stopEphemeralVariableOwner</string>
	<key>wrapPrevCoordGroup</key>
	<string>generateAdvancedCycleCache</string>
</dict>
</plist>
