<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueSortedRowCreator</key>
	<string>addMainRotationHandler</string>
	<key>embedPrevEqualizationHelper</key>
	<string>keepMainGraphOwner</string>
	<key>startImmutableLeftHelper</key>
	<string>keepFusedValueCreator</string>
</dict>
</plist>
