<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cleanOtherTempleTarget</key>
	<string>prepareIgnoredFlagsManager</string>
	<key>getHyperbolicAxisInstance</key>
	<string>pauseCurrentCurveType</string>
	<key>getRespectiveShaderDecorator</key>
	<string>requestSemanticStyleProtocol</string>
	<key>restartPrevMenuCollection</key>
	<string>setNumericalHeadHandler</string>
	<key>setAsynchronousChartImplement</key>
	<string>setSignificantParamFilter</string>
</dict>
</plist>
