<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareCustomPreviewGroup</key>
	<string>finishUniqueReliabilityProtocol</string>
	<key>differentiateMutableEffectDecorator</key>
	<string>analyzeDedicatedProjectionFilter</string>
	<key>getNewestSubpixelAdapter</key>
	<string>restartSubsequentHashCache</string>
	<key>getPrevPositionFilter</key>
	<string>stopDirectPopupAdapter</string>
	<key>keepAssociatedRowAdapter</key>
	<string>refreshCurrentTailCache</string>
	<key>skipUnsortedDescriptionReference</key>
	<string>finishGreatCompositionExtension</string>
	<key>stopSortedOptionPool</key>
	<string>setStandaloneCenterTarget</string>
</dict>
</plist>
