<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addTensorFrameList</key>
	<string>computeAdvancedConfigurationCreator</string>
	<key>continueSingleNumberManager</key>
	<string>endPublicResultPool</string>
	<key>initializeTypicalSessionInstance</key>
	<string>skipPublicItemCollection</string>
	<key>keepOldBorderArray</key>
	<string>stopActivatedParameterStack</string>
	<key>keepSymmetricToleranceManager</key>
	<string>trainArithmeticParameterOwner</string>
	<key>lockSubtleBufferProtocol</key>
	<string>regulatePermissiveGroupFilter</string>
	<key>restartDisplayableRightBase</key>
	<string>prepareDifficultStepBase</string>
	<key>restoreUniformParameterPool</key>
	<string>resetCommonParameterAdapter</string>
	<key>setCurrentVarTarget</key>
	<string>setUniformVectorFilter</string>
	<key>setStaticFeatureFactory</key>
	<string>reconcileSynchronousOriginHandler</string>
</dict>
</plist>
