<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueGranularChartPool</key>
	<string>preparePermissiveAnchorHandler</string>
	<key>embraceSubsequentParamDelegate</key>
	<string>getSmallCenterBase</string>
	<key>endMutableStyleCollection</key>
	<string>enumerateDiscardedCoordPool</string>
	<key>markStandaloneParamInstance</key>
	<string>pauseNormalLeftFilter</string>
	<key>setCriticalInterfaceDecorator</key>
	<string>freePivotalHashProtocol</string>
	<key>setCurrentValueContainer</key>
	<string>skipMultiConvolutionHandler</string>
	<key>setFirstBufferPool</key>
	<string>restartDisplayableTweakFactory</string>
	<key>stopKeyAlphaBase</key>
	<string>getRespectiveParamAdapter</string>
	<key>stopSharedCharacteristicCreator</key>
	<string>setSpecifyProjectBase</string>
</dict>
</plist>
