<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendSubsequentBandwidthFactory</key>
	<string>extendAutoOriginBase</string>
	<key>embedIndependentDeliveryPool</key>
	<string>getMultiValueProtocol</string>
	<key>finishSimilarVariableInstance</key>
	<string>getGlobalIndicatorGroup</string>
	<key>setPermanentVarAdapter</key>
	<string>cancelCommonHeadFilter</string>
	<key>setSpecifyHeadCache</key>
	<string>setCommonNumberCreator</string>
	<key>storeIndependentMovementManager</key>
	<string>getMediumTagArray</string>
</dict>
</plist>
