<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concatenateBeginnerBufferList</key>
	<string>eraseCrudeVarExtension</string>
	<key>keepSustainableListenerGroup</key>
	<string>setOpaqueSpriteCache</string>
	<key>restartSubstantialChallengeAdapter</key>
	<string>getSubstantialBatchType</string>
	<key>revisitDisparateMetadataProtocol</key>
	<string>prepareKeyRendererReference</string>
	<key>stopAutoMaterialHelper</key>
	<string>unlockKeyEquivalentAdapter</string>
</dict>
</plist>
