<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resumeSubstantialTempleArray</key>
	<string>holdFusedSkirtFactory</string>
	<key>skipDisparateDescriptionContainer</key>
	<string>escalateSmallLoopCache</string>
	<key>syncConsultativeDepthHandler</key>
	<string>divideAutoIndicatorFilter</string>
</dict>
</plist>
