<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initializeSingleNumberHelper</key>
	<string>cancelSubtleSpriteInstance</string>
	<key>obtainIntermediateIntegrityCache</key>
	<string>finishPublicRemainderReference</string>
	<key>prepareResilientVariableExtension</key>
	<string>getHierarchicalNodeHelper</string>
	<key>restartIterativeStateGroup</key>
	<string>setNewestObserverExtension</string>
	<key>setPivotalLayerReference</key>
	<string>parseGlobalDispatcherDecorator</string>
	<key>stopDenseSliderHelper</key>
	<string>resumeProtectedSkewYCollection</string>
</dict>
</plist>
