<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getKeyTimelineArray</key>
	<string>setOtherBufferFactory</string>
	<key>keepStandaloneValueInstance</key>
	<string>getSmartSchemaReference</string>
	<key>restartElasticGroupAdapter</key>
	<string>exitExplicitButtonManager</string>
	<key>setBeginnerColorExtension</key>
	<string>getDenseVarHandler</string>
</dict>
</plist>
