<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepIntermediateBorderCreator</key>
	<string>cleanCustomColorExtension</string>
	<key>prepareMediocreChapterCollection</key>
	<string>resumeReusableVariantExtension</string>
	<key>setCrudeMenuHandler</key>
	<string>getConsultativeRowTarget</string>
</dict>
</plist>
