<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>makeGlobalNumberHelper</key>
	<string>pushFirstSegmentCreator</string>
	<key>prepareSophisticatedRightContainer</key>
	<string>getAgileExponentGroup</string>
	<key>setPermissiveNameStack</key>
	<string>keepArithmeticPositionFactory</string>
	<key>setSubstantialValueHandler</key>
	<string>touchOpaqueTraversalFactory</string>
	<key>setTensorTempleHandler</key>
	<string>getNextMetadataBase</string>
	<key>setUnactivatedSpecifierContainer</key>
	<string>setMultiHashPool</string>
</dict>
</plist>
