<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPrismaticBrushFilter</key>
	<string>setGlobalHashFilter</string>
	<key>floatMutableLoopInstance</key>
	<string>setCurrentLeftCollection</string>
	<key>getDedicatedNodeType</key>
	<string>resumeEphemeralAspectGroup</string>
	<key>getNextLogarithmHelper</key>
	<string>finishCriticalGiftHandler</string>
	<key>pauseRequiredSpriteFactory</key>
	<string>setRapidSizePool</string>
	<key>pauseUsedTagDecorator</key>
	<string>unlockGlobalVisibleInstance</string>
	<key>showGreatHashObserver</key>
	<string>continueSemanticFrameTarget</string>
	<key>trainCartesianIndexHandler</key>
	<string>prepareFusedMissionCollection</string>
	<key>trainCriticalChallengeHelper</key>
	<string>skipStaticTagOwner</string>
</dict>
</plist>
