<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustDenseRightList</key>
	<string>keepFirstTextureInstance</string>
	<key>analyzeStandalonePointFilter</key>
	<string>pauseDirectFrameTarget</string>
	<key>continueConsultativeVarList</key>
	<string>setCommonGroupObserver</string>
	<key>embedPrimaryTopicTarget</key>
	<string>trainBeginnerParamTarget</string>
	<key>generateConcreteLeftManager</key>
	<string>skipMutableParameterBase</string>
	<key>getDirectlyDimensionProtocol</key>
	<string>checkUsedOriginInstance</string>
	<key>keepDedicatedStampInstance</key>
	<string>getDiscardedZoneBase</string>
	<key>parseStaticBufferProtocol</key>
	<string>initializeFusedLossList</string>
	<key>resumeEasyMetricsReference</key>
	<string>resumeSubsequentConstantPool</string>
	<key>spinFirstSignOwner</key>
	<string>getIterativeDetailHelper</string>
</dict>
</plist>
