<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCommonPositionAdapter</key>
	<string>resumeHardMemberCache</string>
	<key>continueUnactivatedKernelObserver</key>
	<string>getSubstantialTopExtension</string>
	<key>endDiscardedVarCollection</key>
	<string>getSymmetricBandwidthGroup</string>
	<key>getExplicitSkewXDecorator</key>
	<string>initializeNewestChartBase</string>
	<key>getNormalParamAdapter</key>
	<string>setUnsortedTempleHelper</string>
	<key>getOriginalValueGroup</key>
	<string>continueComprehensiveIndicatorList</string>
	<key>obtainPermissiveUtilFilter</key>
	<string>setAssociatedMediaReference</string>
	<key>releasePriorHeadExtension</key>
	<string>createConcreteInfoFilter</string>
	<key>resumeSmallRangeObserver</key>
	<string>continueUsedConfigurationHelper</string>
	<key>stopComprehensiveResolverType</key>
	<string>setUniqueHeadArray</string>
</dict>
</plist>
