<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateCurrentFrameHelper</key>
	<string>setSubstantialPreviewPool</string>
	<key>setLiteParticleAdapter</key>
	<string>findArithmeticCharacteristicGroup</string>
	<key>setOpaqueSliderInstance</key>
	<string>discoverDeclarativeEquivalentType</string>
	<key>setPivotalSymbolArray</key>
	<string>parsePublicParticleCache</string>
	<key>startLiteSineArray</key>
	<string>setImmutableCenterArray</string>
	<key>wrapEnabledNotationInstance</key>
	<string>setSustainableValueType</string>
</dict>
</plist>
