<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addSmartGraphBase</key>
	<string>getSubtlePositionInstance</string>
	<key>cleanSubtleGroupArray</key>
	<string>getLocalGemHelper</string>
	<key>finishPrismaticScaleArray</key>
	<string>getSecondFeatureOwner</string>
	<key>getAssociatedVarPool</key>
	<string>allocateSimilarParamManager</string>
	<key>searchSignificantFragmentReference</key>
	<string>parseLostCenterInstance</string>
	<key>setConsultativeBottomObserver</key>
	<string>initializePublicFrameFilter</string>
	<key>setCriticalTempleManager</key>
	<string>initializeStandaloneTagContainer</string>
	<key>setOtherPositionObserver</key>
	<string>setPriorRotationAdapter</string>
</dict>
</plist>
