<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resumeSubsequentSkewYDecorator</key>
	<string>getLastParamBase</string>
	<key>setGeometricTailArray</key>
	<string>displayDedicatedNumberDecorator</string>
	<key>trainAgileZoneHandler</key>
	<string>respondAccessibleVectorCollection</string>
</dict>
</plist>
