<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embedSemanticBufferHandler</key>
	<string>keepCommonVarDelegate</string>
	<key>freeUnactivatedStepGroup</key>
	<string>cancelCurrentGiftInstance</string>
	<key>getLostTempleDecorator</key>
	<string>getBasicBoxArray</string>
	<key>getStaticInterpolationCache</key>
	<string>navigateOpaqueTempleList</string>
	<key>removeBackwardParticleTarget</key>
	<string>setCustomRestrictionExtension</string>
	<key>removeDedicatedImpactCache</key>
	<string>getPermanentPreviewAdapter</string>
	<key>searchEphemeralTempleHelper</key>
	<string>setSemanticVariableArray</string>
	<key>setConcreteKernelFilter</key>
	<string>continueMutableCosineProtocol</string>
	<key>setCustomizedElementImplement</key>
	<string>setSimilarVectorInstance</string>
	<key>stopOtherResilienceHelper</key>
	<string>encapsulatePermanentFrameBase</string>
</dict>
</plist>
