<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continuePrismaticEdgeExtension</key>
	<string>setAsynchronousTextureManager</string>
	<key>initializeNumericalNodeStack</key>
	<string>endIgnoredParameterObserver</string>
	<key>initializeSubsequentSkewYImplement</key>
	<string>setSharedParameterManager</string>
	<key>keepHardQueueArray</key>
	<string>restartKeyPopupObserver</string>
	<key>respondRespectiveZoneHandler</key>
	<string>compareConcurrentParameterCreator</string>
	<key>setCrudeNumberType</key>
	<string>setSortedConfigurationHelper</string>
</dict>
</plist>
