<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endIgnoredVarHelper</key>
	<string>getAutoQueueCache</string>
	<key>locatePublicLatencyInstance</key>
	<string>freePivotalMetadataType</string>
	<key>quantizerLastParamType</key>
	<string>accelerateSingleCenterHelper</string>
	<key>reduceSmallModulusDelegate</key>
	<string>enumerateEphemeralCenterCollection</string>
	<key>releaseAutoDescentAdapter</key>
	<string>cancelPrevTagHelper</string>
	<key>setPermanentDataOwner</key>
	<string>startRobustDescriptionList</string>
	<key>skipFusedReplicaOwner</key>
	<string>setMediumParticleHelper</string>
	<key>skipPrevZoneDelegate</key>
	<string>resumeMutableVarGroup</string>
	<key>writeExplicitParamType</key>
	<string>unlockPermissiveTempleHandler</string>
</dict>
</plist>
