<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endStandaloneRotationPool</key>
	<string>finishProtectedVariableOwner</string>
	<key>getOtherNumberFilter</key>
	<string>multiplyBackwardTempleCreator</string>
	<key>getSinglePolyfillContainer</key>
	<string>skipSophisticatedApertureFactory</string>
	<key>initializeIntuitivePopupCollection</key>
	<string>getHyperbolicCursorHelper</string>
	<key>offsetPrismaticCycleFilter</key>
	<string>cancelStandaloneGroupManager</string>
	<key>setCrucialParameterOwner</key>
	<string>reduceRespectiveContrastCache</string>
	<key>setHyperbolicBufferHandler</key>
	<string>resumeImmutableCursorFactory</string>
	<key>setRobustReplicaPool</key>
	<string>setDelicateTagCollection</string>
</dict>
</plist>
