<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentAccessibleContractionBase</key>
	<string>getSecondCycleReference</string>
	<key>detachIntermediateSceneDelegate</key>
	<string>continueOpaqueNameAdapter</string>
	<key>endSynchronousBorderReference</key>
	<string>parsePrevParamManager</string>
	<key>keepDedicatedColorCreator</key>
	<string>setConcurrentMatrixManager</string>
	<key>pauseBasicGroupGroup</key>
	<string>setBasicVisibleCache</string>
	<key>refreshPrevParamArray</key>
	<string>startNextParamType</string>
	<key>restartConcurrentDepthInstance</key>
	<string>keepPermanentParamHelper</string>
	<key>setGlobalStatusTarget</key>
	<string>quantizationMediumTextureContainer</string>
	<key>setUniqueCoordProtocol</key>
	<string>markRelationalBitrateHandler</string>
	<key>stopMediocreVectorStack</key>
	<string>resizeProtectedCapacitiesTarget</string>
</dict>
</plist>
