<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateHardLayerDecorator</key>
	<string>setMainModulusFilter</string>
	<key>capturePriorLoopExtension</key>
	<string>keepDelicateResolverCache</string>
	<key>exitCustomizedBufferList</key>
	<string>setHierarchicalPolygonObserver</string>
	<key>getDiversifiedDeliveryAdapter</key>
	<string>generateSmartVisibleGroup</string>
	<key>quantizationPermanentObjectInstance</key>
	<string>getNormalLoopAdapter</string>
	<key>reconcileUniformGrainTarget</key>
	<string>pushDirectlyNodePool</string>
	<key>setCurrentInfoPool</key>
	<string>setMediocreMendCreator</string>
	<key>setSophisticatedBufferOwner</key>
	<string>skipLostScaleBase</string>
	<key>skipSpecifyToleranceList</key>
	<string>getCustomizedValuePool</string>
</dict>
</plist>
