<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelUnactivatedDataProtocol</key>
	<string>storeHardNumberDecorator</string>
	<key>finishArithmeticInterfaceProtocol</key>
	<string>prepareIntermediateVisibleInstance</string>
	<key>getHyperbolicVarOwner</key>
	<string>getMutableSubpixelBase</string>
	<key>resumeKeyVariableCollection</key>
	<string>setSignificantParticleHelper</string>
</dict>
</plist>
