<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendSubtleBinaryReference</key>
	<string>exitCommonOriginContainer</string>
	<key>cleanPivotalBorderManager</key>
	<string>getConcurrentTempleDecorator</string>
	<key>embedUsedSpineHandler</key>
	<string>dropoutIterativeRestrictionCreator</string>
	<key>getGlobalTempleType</key>
	<string>getSingleProgressBarCollection</string>
	<key>setMutableFrameCache</key>
	<string>prepareDeclarativeParamExtension</string>
	<key>startSingleMemberDelegate</key>
	<string>retainIgnoredNameCache</string>
	<key>stopIterativeAnalogyFactory</key>
	<string>trainLostRectFilter</string>
	<key>trainSemanticDeliveryCreator</key>
	<string>getDedicatedNumberInstance</string>
</dict>
</plist>
