<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueRequiredTextureOwner</key>
	<string>augmentCrudeTagImplement</string>
	<key>differentiateSortedPreviewCreator</key>
	<string>getConcreteToleranceInstance</string>
	<key>differentiateSubsequentRightPool</key>
	<string>getSignificantKernelExtension</string>
	<key>embedConsultativeDescriptionCache</key>
	<string>upgradeOriginalParamManager</string>
	<key>getAdvancedParameterCreator</key>
	<string>skipResilientEquivalentManager</string>
	<key>getCustomSkirtProtocol</key>
	<string>quantizerBasicClusterDelegate</string>
	<key>offsetTypicalTextureReference</key>
	<string>resetUsedSceneCollection</string>
	<key>seekAgilePopupHelper</key>
	<string>compareDeclarativeCenterProtocol</string>
	<key>setGranularFormatHelper</key>
	<string>initializeActivatedPopupGroup</string>
	<key>skipSeamlessTopicCache</key>
	<string>insteadEasySceneAdapter</string>
</dict>
</plist>
