<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelGeometricFrameCreator</key>
	<string>embraceBeginnerRowDecorator</string>
	<key>embraceRobustTitleContainer</key>
	<string>cancelArithmeticNumberObserver</string>
	<key>finishGlobalResolverList</key>
	<string>convertSubsequentRotationCache</string>
	<key>keepReusableMenuFactory</key>
	<string>prepareDisparateModuleManager</string>
</dict>
</plist>
