<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureUnsortedUtilPool</key>
	<string>requestNormalChannelsExtension</string>
	<key>continueSpecifyHeadObserver</key>
	<string>getMediumLayerInstance</string>
	<key>endOldSessionReference</key>
	<string>finishEuclideanItemImplement</string>
	<key>generateLargeLayerStack</key>
	<string>finishMissedBehaviorBase</string>
	<key>getEasyVariableOwner</key>
	<string>getCustomizedToolAdapter</string>
	<key>initializeCrudeRotationHandler</key>
	<string>getSemanticVarOwner</string>
	<key>limitConcreteSpotManager</key>
	<string>prepareCustomizedElementCreator</string>
	<key>optimizeUnsortedVectorDelegate</key>
	<string>resizeDirectlyParamFilter</string>
	<key>startElasticNameType</key>
	<string>finishPrevFrameDelegate</string>
</dict>
</plist>
