<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>computeOldChartFilter</key>
	<string>endAutoMenuInstance</string>
	<key>enhanceDisparateVideoDecorator</key>
	<string>freeGranularNodeObserver</string>
	<key>findEasyChartFactory</key>
	<string>keepIgnoredCenterExtension</string>
	<key>keepRapidRightFactory</key>
	<string>multiplyActivatedVisibleFilter</string>
	<key>resizeDifficultScaleAdapter</key>
	<string>pauseGlobalImpactTarget</string>
	<key>restartRelationalTopicStack</key>
	<string>setCommonDialogsTarget</string>
	<key>retrieveDedicatedRoleArray</key>
	<string>initializeGlobalAllocatorFilter</string>
	<key>setDisplayableQuaternionCreator</key>
	<string>setEasyValueOwner</string>
</dict>
</plist>
