<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeNormalGroupArray</key>
	<string>animateMediumLayoutDecorator</string>
	<key>getUnactivatedValueFactory</key>
	<string>pauseAssociatedLoopArray</string>
	<key>limitUniformVarHandler</key>
	<string>setCartesianUsageOwner</string>
	<key>prepareAccordionVariantOwner</key>
	<string>setDirectConfigurationDelegate</string>
	<key>quitEphemeralFrameReference</key>
	<string>convertDedicatedLayerFactory</string>
	<key>skipIgnoredGramInstance</key>
	<string>getLiteRestrictionList</string>
	<key>syncSubstantialNumberHandler</key>
	<string>setPriorProgressBarFilter</string>
</dict>
</plist>
