<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateSubtleTaxonomyHelper</key>
	<string>setReusableInteractionExtension</string>
	<key>fillPrevConfigurationProtocol</key>
	<string>stopIntermediateHeadReference</string>
	<key>getOldNameFactory</key>
	<string>getSustainableSampleCreator</string>
	<key>getTensorVectorInstance</key>
	<string>getDisplayableScaleFactory</string>
	<key>getUnsortedParameterInstance</key>
	<string>adjustMainParameterFactory</string>
	<key>keepDisparateProgressBarDelegate</key>
	<string>allocateRetainedLayoutAdapter</string>
	<key>prepareCrudeObjectFilter</key>
	<string>getSubstantialOpacityImplement</string>
	<key>setDifficultMetricsTarget</key>
	<string>setIgnoredItemCreator</string>
	<key>setHierarchicalTopContainer</key>
	<string>getOpaquePolygonPool</string>
	<key>skipCustomizedColorHelper</key>
	<string>getHierarchicalAxisDecorator</string>
</dict>
</plist>
