<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueEasyValueCache</key>
	<string>setConcreteQueuePool</string>
	<key>convertBackwardAccessoryInstance</key>
	<string>insteadNumericalParameterList</string>
	<key>getLocalBoundOwner</key>
	<string>getPrevIndexOwner</string>
	<key>getOpaqueCompositionManager</key>
	<string>startOldParameterGroup</string>
	<key>getRobustObjectInstance</key>
	<string>trainHierarchicalDataCache</string>
	<key>pauseLostVarReference</key>
	<string>stopCartesianBufferDelegate</string>
	<key>pausePermissiveFeatureFilter</key>
	<string>trainIntermediateGrainFactory</string>
	<key>reflectStandaloneSchedulerProtocol</key>
	<string>navigateEuclideanSignatureExtension</string>
</dict>
</plist>
