<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decoupleSpecifyTextureCollection</key>
	<string>setDiversifiedLayerAdapter</string>
	<key>getCartesianBorderType</key>
	<string>getResilientDepthOwner</string>
	<key>setAdvancedVariableObserver</key>
	<string>cancelSeamlessPositionProtocol</string>
	<key>setConcurrentSchemaDecorator</key>
	<string>embedActivatedColorExtension</string>
</dict>
</plist>
