<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introspectStandaloneDepthExtension</key>
	<string>continueGlobalChartFactory</string>
	<key>pushDiscardedItemHelper</key>
	<string>storePermanentSegmentPool</string>
	<key>refreshPermissiveScaleBase</key>
	<string>limitSubsequentTempleOwner</string>
	<key>spinBasicHeadManager</key>
	<string>setSimilarValueArray</string>
	<key>startCriticalControllerExtension</key>
	<string>startGreatExponentCreator</string>
	<key>startMainBufferContainer</key>
	<string>cancelMediumBufferCollection</string>
</dict>
</plist>
