<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embedOldTimeOwner</key>
	<string>setUniformAnimationAdapter</string>
	<key>getDisplayableRowStack</key>
	<string>setImmutableMatrixStack</string>
	<key>getDiversifiedTempleAdapter</key>
	<string>releasePrimaryHeadHandler</string>
	<key>getRelationalVarGroup</key>
	<string>searchReusableFrameBase</string>
	<key>setEuclideanRectangleManager</key>
	<string>setPriorAmortizationOwner</string>
	<key>trainSignificantButtonObserver</key>
	<string>continueLostVisibleTarget</string>
</dict>
</plist>
