<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishExplicitSpineCreator</key>
	<string>setDisparateVarInstance</string>
	<key>getLocalSegmentAdapter</key>
	<string>resumeSimilarMechanismType</string>
	<key>getMediocreParamCollection</key>
	<string>endRobustIntegrityPool</string>
	<key>getSophisticatedVideoType</key>
	<string>resumeDisplayableTempleObserver</string>
	<key>getSubsequentChapterDelegate</key>
	<string>startOldGiftType</string>
	<key>keepCustomBufferPool</key>
	<string>stopGlobalChecklistInstance</string>
	<key>limitSortedNumberFilter</key>
	<string>keepPivotalNodeHelper</string>
	<key>pauseSeamlessProvisionCreator</key>
	<string>restartSmartTempleCreator</string>
	<key>refreshImmutableTraversalCreator</key>
	<string>setPivotalIndexProtocol</string>
	<key>resizeOpaqueMaterialCache</key>
	<string>getCurrentRotationGroup</string>
</dict>
</plist>
