<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>freeStandaloneInstructionGroup</key>
	<string>keepSubstantialRectImplement</string>
	<key>getNextMetadataBase</key>
	<string>enumerateMediumSkewXImplement</string>
	<key>setIntermediateNumberTarget</key>
	<string>getLostTempleHandler</string>
	<key>setNewestTentativeHandler</key>
	<string>getBackwardValueFactory</string>
	<key>setPrismaticParamDelegate</key>
	<string>startPrevMetadataAdapter</string>
	<key>setSynchronousInstructionType</key>
	<string>stopSmartPlaybackHelper</string>
	<key>skipAdvancedMechanismList</key>
	<string>getAccessibleTopicFactory</string>
</dict>
</plist>
