<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelUniformVariableFactory</key>
	<string>cancelConcreteImageCache</string>
	<key>continueConcreteProjectReference</key>
	<string>concatenateAutoVectorPool</string>
	<key>endRelationalParamObserver</key>
	<string>getCommonColorImplement</string>
	<key>revisitRapidNormManager</key>
	<string>setDisplayableParameterOwner</string>
	<key>setAdvancedTagObserver</key>
	<string>restartStaticZoneObserver</string>
	<key>setBasicPolyfillHandler</key>
	<string>setResilientTempleTarget</string>
	<key>setDifficultContrastExtension</key>
	<string>stopOtherFeatureCreator</string>
</dict>
</plist>
