<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDeclarativeVectorCollection</key>
	<string>extendSynchronousSkewYDecorator</string>
	<key>getIntermediateLayerExtension</key>
	<string>trainLastAlphaGroup</string>
	<key>getTensorSchemaObserver</key>
	<string>pauseKeyBehaviorCache</string>
	<key>multiplyAutoApertureContainer</key>
	<string>resumeIndependentInterpolationStack</string>
	<key>resumePriorDescentFilter</key>
	<string>keepLiteNumberProtocol</string>
	<key>setBasicParameterManager</key>
	<string>getDeclarativeRightBase</string>
	<key>setLostTempleFilter</key>
	<string>decoupleStandaloneAllocatorStack</string>
	<key>trainPermanentInitiatorsDecorator</key>
	<string>showResilientBufferOwner</string>
</dict>
</plist>
