<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishCrucialVertexType</key>
	<string>getPermissiveHeadHandler</string>
	<key>finishSophisticatedNameInstance</key>
	<string>getCurrentTempleInstance</string>
	<key>getConsultativeInteractionManager</key>
	<string>resizeAsynchronousTempleManager</string>
	<key>getNextProjectTarget</key>
	<string>decoupleUsedBufferExtension</string>
</dict>
</plist>
