<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endGlobalTangentInstance</key>
	<string>getMediocreMenuCreator</string>
	<key>finishOtherParamAdapter</key>
	<string>spinIndependentInfoTarget</string>
	<key>getNormalAscentCollection</key>
	<string>setAutoSizeStack</string>
	<key>renameGranularSineHelper</key>
	<string>restoreCrudeHashObserver</string>
	<key>stopDenseAccessoryDelegate</key>
	<string>endDisplayableItemTarget</string>
	<key>visitBeginnerTextList</key>
	<string>syncGeometricIndicatorHandler</string>
</dict>
</plist>
