<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getIndependentStyleHandler</key>
	<string>setPrevInfoDecorator</string>
	<key>getSynchronousDepthDecorator</key>
	<string>getPrimaryProgressBarHandler</string>
	<key>setStandaloneMemberImplement</key>
	<string>endGlobalValueInstance</string>
</dict>
</plist>
