<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepAgileGramDecorator</key>
	<string>getSophisticatedStyleType</string>
	<key>prepareDiscardedActionHandler</key>
	<string>setNumericalCenterDecorator</string>
	<key>rotatePrimaryParticleCache</key>
	<string>detachAutoNumberReference</string>
	<key>setPublicNumberTarget</key>
	<string>endConcurrentMapBase</string>
	<key>stopIndependentScreenHandler</key>
	<string>skipActivatedItemObserver</string>
	<key>trainOtherViewTarget</key>
	<string>prepareMainBufferReference</string>
</dict>
</plist>
