<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getPrevVariablePool</key>
	<string>clearSemanticReductionReference</string>
	<key>setDeclarativePreviewFilter</key>
	<string>setSpecifyRotationBase</string>
	<key>shearLiteSizeReference</key>
	<string>cancelDiscardedSliderCache</string>
</dict>
</plist>
