<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endArithmeticGrainReference</key>
	<string>checkConcurrentPositionOwner</string>
	<key>generateOpaqueBufferArray</key>
	<string>restoreGranularMemberTarget</string>
	<key>getBackwardModelStack</key>
	<string>addGranularInterfaceImplement</string>
	<key>getExplicitSessionHandler</key>
	<string>clipGeometricResultDelegate</string>
	<key>insteadMultiValueCreator</key>
	<string>continueSophisticatedProfileHelper</string>
	<key>upgradeDiversifiedTagHandler</key>
	<string>pauseConcurrentThroughputOwner</string>
</dict>
</plist>
