<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMultiFrameManager</key>
	<string>getSharedTitleTarget</string>
	<key>escalateDirectSizeCache</key>
	<string>trainRelationalMomentumReference</string>
	<key>getSimilarTempleHelper</key>
	<string>keepEphemeralScaleGroup</string>
	<key>makeOldSceneProtocol</key>
	<string>quitSignificantBufferAdapter</string>
	<key>pushCustomSliderProtocol</key>
	<string>setAccordionColorGroup</string>
</dict>
</plist>
