<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDenseBufferType</key>
	<string>displayPermanentCurvePool</string>
	<key>keepSubstantialReplicaHelper</key>
	<string>continueRespectiveQuaternionFilter</string>
	<key>offsetFusedMenuHelper</key>
	<string>drawEnabledIntensityExtension</string>
	<key>refreshFirstRemainderFactory</key>
	<string>fillRapidGrayscaleList</string>
	<key>setFirstBoundArray</key>
	<string>trainGreatDepthImplement</string>
	<key>setNextBufferReference</key>
	<string>cancelSemanticSubpixelAdapter</string>
	<key>setOpaqueMomentumCache</key>
	<string>restartDiscardedHeadContainer</string>
	<key>setStaticAspectHelper</key>
	<string>setBasicNodeTarget</string>
	<key>trainRequiredVolumeObserver</key>
	<string>prepareSortedPreviewList</string>
</dict>
</plist>
