<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateRelationalVariableArray</key>
	<string>restoreAsynchronousInfoManager</string>
	<key>getCommonDistinctionDecorator</key>
	<string>getDenseQueueAdapter</string>
	<key>getLocalTempleOwner</key>
	<string>getAccessibleQueueType</string>
	<key>getSemanticValueReference</key>
	<string>reconcileMutableButtonBase</string>
	<key>keepImmutableBoundOwner</key>
	<string>scheduleOldRangeFilter</string>
	<key>locateLastBaseCache</key>
	<string>getMutableMissionHandler</string>
	<key>seekMutableMonsterFilter</key>
	<string>trainPermissiveCenterType</string>
</dict>
</plist>
