<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concatenateAccessibleCenterTarget</key>
	<string>setActivatedPreviewArray</string>
	<key>dissociateCustomizedSpriteFilter</key>
	<string>getLastMendExtension</string>
	<key>divideTensorUtilInstance</key>
	<string>setSubtleBufferArray</string>
	<key>getPrismaticMenuHelper</key>
	<string>setFirstTagOwner</string>
	<key>renameGreatParamStack</key>
	<string>getAccessibleBottomProtocol</string>
	<key>retrieveSmartBottomAdapter</key>
	<string>restartSubsequentBufferInstance</string>
	<key>setEuclideanOriginProtocol</key>
	<string>setCustomFlagsCreator</string>
	<key>setRequiredTailOwner</key>
	<string>getCartesianAllocatorOwner</string>
	<key>setSemanticValueExtension</key>
	<string>setRequiredParameterOwner</string>
	<key>setSharedAnalogyImplement</key>
	<string>multiplyAssociatedSpineArray</string>
</dict>
</plist>
