<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>computeIgnoredDescentOwner</key>
	<string>setDenseStrokeFactory</string>
	<key>continueSubtleOpacityOwner</key>
	<string>restartFirstBufferType</string>
	<key>createEnabledVertexGroup</key>
	<string>getIntuitiveConfidentialityCache</string>
	<key>detachSingleHashPool</key>
	<string>setSubsequentFlagsManager</string>
	<key>getDelicateChallengeArray</key>
	<string>keepEuclideanVisibleHandler</string>
	<key>getEnabledPaddingExtension</key>
	<string>getDelicateSineInstance</string>
	<key>resumeGreatIndexStack</key>
	<string>endGreatRotationFilter</string>
	<key>setCrudeMatrixManager</key>
	<string>stopSemanticAspectPool</string>
	<key>setSeamlessPreviewFilter</key>
	<string>getRespectiveNumberHelper</string>
	<key>stopMediumTempleCreator</key>
	<string>fillAutoSpecifierBase</string>
</dict>
</plist>
