<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueBasicPolygonPool</key>
	<string>getMediumCatalystHelper</string>
	<key>continueGeometricBufferDelegate</key>
	<string>setNewestFlagsReference</string>
	<key>initializeIterativeBorderCache</key>
	<string>getSmartHistogramList</string>
	<key>poolSmallVariableStack</key>
	<string>endUnactivatedContractionHelper</string>
	<key>prepareProtectedEdgeDecorator</key>
	<string>setOriginalBitrateHandler</string>
	<key>resumeAdvancedVectorGroup</key>
	<string>createDenseBoundAdapter</string>
	<key>setDiscardedRotationDecorator</key>
	<string>startCurrentNumberFactory</string>
	<key>showAgileTitleDecorator</key>
	<string>differentiateSymmetricHeroExtension</string>
	<key>streamlineLastTrajectoryHelper</key>
	<string>skipBeginnerLoopExtension</string>
</dict>
</plist>
