<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueIgnoredCapsuleObserver</key>
	<string>setAgileScreenContainer</string>
	<key>skipSmallCoordExtension</key>
	<string>setAdvancedCosineExtension</string>
	<key>unscheduleSignificantFeatureType</key>
	<string>lockAccordionThreadHelper</string>
	<key>visitDeclarativeParticlePool</key>
	<string>conformResilientPositionArray</string>
</dict>
</plist>
