<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkAccordionResultTarget</key>
	<string>getEnabledVarReference</string>
	<key>fillBeginnerObjectObserver</key>
	<string>dismissNumericalCosineExtension</string>
	<key>prepareActivatedValueHelper</key>
	<string>endRetainedStyleGroup</string>
	<key>prepareSemanticVarCreator</key>
	<string>writeGreatMissionArray</string>
	<key>setPrismaticPolygonGroup</key>
	<string>unscheduleTensorMatrixDelegate</string>
	<key>startSmallDocumentHandler</key>
	<string>cancelSymmetricFrameHelper</string>
	<key>stopAdvancedTimelineType</key>
	<string>getUniformTrajectoryType</string>
	<key>syncCrudeLayoutPool</key>
	<string>prepareEnabledHeadDecorator</string>
	<key>unlockIntuitiveCapacitiesOwner</key>
	<string>pauseLargeOperationContainer</string>
</dict>
</plist>
