<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalReusableEdgeCollection</key>
	<string>findSecondOperationStack</string>
	<key>finishGlobalVarAdapter</key>
	<string>setCommonPopupGroup</string>
	<key>getGeometricObjectPool</key>
	<string>addSharedParameterReference</string>
	<key>getSophisticatedNumberReference</key>
	<string>resumeBackwardStyleStack</string>
	<key>prepareCommonTitleHandler</key>
	<string>embedUnsortedSkewXTarget</string>
	<key>rotateTensorBoxOwner</key>
	<string>getMultiCoordTarget</string>
	<key>setEphemeralDescriptorOwner</key>
	<string>continueHyperbolicBandwidthCache</string>
	<key>setFusedVariableArray</key>
	<string>decoupleTensorHeadAdapter</string>
	<key>setMediumFeatureCreator</key>
	<string>skipStaticParticleReference</string>
</dict>
</plist>
