<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>freeUsedBoundExtension</key>
	<string>restartLastBoundObserver</string>
	<key>getTensorBufferOwner</key>
	<string>respondTypicalAnimationFactory</string>
	<key>initializeUniqueAnchorType</key>
	<string>restartCommonPrecisionGroup</string>
	<key>keepIterativePositionHandler</key>
	<string>cancelUnsortedPreviewObserver</string>
	<key>setAdvancedGrainArray</key>
	<string>trainDensePopupInstance</string>
	<key>setPrismaticRotationDecorator</key>
	<string>startSpecifyDisclaimerType</string>
	<key>setSharedMenuGroup</key>
	<string>restartHardIndexTarget</string>
	<key>setSimilarMemberImplement</key>
	<string>requestSpecifyNumberStack</string>
	<key>writeAssociatedTopHelper</key>
	<string>stopExplicitTagCreator</string>
</dict>
</plist>
