<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateAccordionEdgeGroup</key>
	<string>setGranularRouteFilter</string>
	<key>continueEphemeralColorPool</key>
	<string>resumeActivatedMaterialContainer</string>
	<key>getAdvancedCurveBase</key>
	<string>seekDeclarativeTextAdapter</string>
	<key>getAssociatedBufferContainer</key>
	<string>initializeUsedVariantArray</string>
	<key>getSharedGridCache</key>
	<string>setAccessibleSessionList</string>
	<key>markDisplayableInteractionContainer</key>
	<string>resumeMediocreGrainManager</string>
</dict>
</plist>
