<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cleanAsynchronousBatchTarget</key>
	<string>setUnsortedBorderFactory</string>
	<key>getPermissiveScaleDelegate</key>
	<string>startFirstStyleReference</string>
	<key>multiplySustainableSliderInstance</key>
	<string>getSemanticDescriptionDecorator</string>
</dict>
</plist>
