<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueSmallResolverInstance</key>
	<string>retainLargeParamOwner</string>
	<key>endSmallFeatureImplement</key>
	<string>restartSecondBoundCollection</string>
	<key>offsetDisplayableGroupCollection</key>
	<string>encapsulateArithmeticGroupFactory</string>
	<key>setOtherStateDelegate</key>
	<string>resumeRapidDimensionFilter</string>
	<key>setStaticSampleProtocol</key>
	<string>continueSymmetricTextureList</string>
	<key>writeAccordionMobileTarget</key>
	<string>getBeginnerMenuExtension</string>
</dict>
</plist>
