<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getAutoSignDelegate</key>
	<string>getKeyTitleFactory</string>
	<key>getNewestDimensionDecorator</key>
	<string>endDedicatedMetadataOwner</string>
	<key>insteadMediocreCharacterTarget</key>
	<string>keepImmutableGrayscaleObserver</string>
	<key>prepareSemanticBufferOwner</key>
	<string>prepareDelicateOperationGroup</string>
	<key>setPrevMendType</key>
	<string>setReusableIndexBase</string>
	<key>storeBasicShaderObserver</key>
	<string>endSecondTempleObserver</string>
</dict>
</plist>
