<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prepareNextTempleStack</key>
	<string>setPriorUnaryInstance</string>
	<key>resizeAssociatedLayerReference</key>
	<string>showHyperbolicVariableCache</string>
	<key>setAccessibleObserverCollection</key>
	<string>setSharedGraphOwner</string>
	<key>trainEasyInfoStack</key>
	<string>setNewestIntegrityHandler</string>
</dict>
</plist>
