<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateCurrentColorType</key>
	<string>skipConcreteHistogramContainer</string>
	<key>associateSimilarTopicArray</key>
	<string>setUniqueBaseImplement</string>
	<key>getConsultativePreviewOwner</key>
	<string>restartUsedCoordinatorPool</string>
	<key>getMainMasterFactory</key>
	<string>setSynchronousElasticityType</string>
	<key>getTensorBottomHelper</key>
	<string>combineHierarchicalSkewYHelper</string>
	<key>setPrevReductionHandler</key>
	<string>aggregateSmallTopHelper</string>
	<key>trainRobustLeftObserver</key>
	<string>detachRobustBufferHandler</string>
</dict>
</plist>
