<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDirectGrayscaleDecorator</key>
	<string>setAssociatedRowOwner</string>
	<key>cancelMissedGrainCollection</key>
	<string>holdSophisticatedAspectCreator</string>
	<key>getSpecifyClusterTarget</key>
	<string>setCurrentLayerBase</string>
	<key>getSubsequentOpacityAdapter</key>
	<string>stopConsultativeVarHelper</string>
	<key>makeCommonValueBase</key>
	<string>setKeyTempleGroup</string>
	<key>resumeRetainedSpotPool</key>
	<string>resumeSubtleSoundReference</string>
	<key>setMainParamCollection</key>
	<string>allocateKeyBottomInstance</string>
	<key>setPriorRotationProtocol</key>
	<string>insteadAutoOriginAdapter</string>
</dict>
</plist>
