<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDiscardedSkewYDelegate</key>
	<string>setRelationalProgressBarArray</string>
	<key>getMediocreSkewXStack</key>
	<string>extendDiscardedSliderGroup</string>
	<key>skipSortedMetadataCollection</key>
	<string>pausePrimaryRowInstance</string>
	<key>updateOldChartCreator</key>
	<string>updateSemanticTempleDecorator</string>
</dict>
</plist>
