<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueNextBufferInstance</key>
	<string>playNormalBitrateCollection</string>
	<key>equalTypicalChallengeHandler</key>
	<string>setDifficultOpacityReference</string>
	<key>fillLiteResolverInstance</key>
	<string>setAgileValueHelper</string>
	<key>getCriticalBoundHelper</key>
	<string>startProtectedTernaryStack</string>
	<key>getDiversifiedFeatureReference</key>
	<string>skipSmallParamObserver</string>
	<key>getHierarchicalRangeProtocol</key>
	<string>resumeConsultativeTopCollection</string>
	<key>resumePrevNodeCollection</key>
	<string>clearReusableTagType</string>
</dict>
</plist>
