<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelRespectiveOpacityDelegate</key>
	<string>getSubstantialTrianglesImplement</string>
	<key>getBasicMenuArray</key>
	<string>getFirstLoopDelegate</string>
	<key>getCriticalValueHandler</key>
	<string>stopSharedResultDelegate</string>
	<key>resumeOpaqueUtilTarget</key>
	<string>continueDeclarativeAnchorHandler</string>
	<key>setComprehensiveMenuReference</key>
	<string>pauseDiversifiedCenterPool</string>
	<key>setLargeConfigurationBase</key>
	<string>restartCriticalInfoList</string>
	<key>setMediocreValueDelegate</key>
	<string>setNumericalResilienceContainer</string>
	<key>setPrevBufferFactory</key>
	<string>compareDedicatedParamGroup</string>
	<key>setSemanticParamOwner</key>
	<string>scheduleIndependentStyleType</string>
</dict>
</plist>
