<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateRetainedMemberGroup</key>
	<string>setMissedMenuArray</string>
	<key>escalateUniformPositionAdapter</key>
	<string>resumeSmallPositionFactory</string>
	<key>getAssociatedGiftArray</key>
	<string>setLostRendererCache</string>
	<key>getAsynchronousRotationDecorator</key>
	<string>stopCurrentNameType</string>
	<key>getConsultativeTimeList</key>
	<string>keepPrimaryElasticityList</string>
	<key>getOpaqueBinaryExtension</key>
	<string>setAccordionQueueProtocol</string>
	<key>setStaticResolverManager</key>
	<string>getGranularObserverOwner</string>
</dict>
</plist>
