<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureGeometricIntegerCollection</key>
	<string>startMediumHashContainer</string>
	<key>continueMediumQueueDelegate</key>
	<string>rectifyReusableOpacityCache</string>
	<key>dropoutPriorDimensionManager</key>
	<string>setGlobalNavigationStack</string>
	<key>endPriorOccasionObserver</key>
	<string>initializeMutableRemediationManager</string>
	<key>getNumericalThresholdManager</key>
	<string>getSemanticVideoType</string>
	<key>setBasicEvaluationTarget</key>
	<string>optimizeLocalIntegrationManager</string>
	<key>startAssociatedSkewYPool</key>
	<string>setSpecifyIndicatorExtension</string>
</dict>
</plist>
