<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareSmallApertureProtocol</key>
	<string>getUnsortedChecklistDelegate</string>
	<key>getAutoScalabilityType</key>
	<string>refreshPermissiveLogarithmPool</string>
	<key>initializeLocalRightTarget</key>
	<string>setNormalBufferCollection</string>
	<key>prepareEnabledMetadataFactory</key>
	<string>restartRequiredObserverReference</string>
	<key>provideDenseScreenContainer</key>
	<string>finishSimilarNumberProtocol</string>
	<key>resumeCartesianIndexTarget</key>
	<string>setDifficultPolygonContainer</string>
	<key>setAdvancedEdgeFactory</key>
	<string>getMainIndexGroup</string>
	<key>setBackwardVariableExtension</key>
	<string>continuePermissiveNumberGroup</string>
	<key>setUnactivatedElementDelegate</key>
	<string>prepareStandaloneVariableExtension</string>
</dict>
</plist>
