<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishStandaloneCenterFactory</key>
	<string>stopHierarchicalEquivalentStack</string>
	<key>restartPivotalParamType</key>
	<string>getHardFrameReference</string>
	<key>unscheduleNextVarBase</key>
	<string>getDiscardedProfileCreator</string>
</dict>
</plist>
