<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pauseConcurrentLeftPool</key>
	<string>drawAccessibleInterfaceExtension</string>
	<key>pauseOpaqueNumberType</key>
	<string>setCustomizedBottomHandler</string>
	<key>quantizationDifficultGroupDelegate</key>
	<string>skipAdvancedNumberCreator</string>
	<key>reconcileNormalAnalogyObserver</key>
	<string>prepareCommonSkewYPool</string>
	<key>rectifyHardTempleCache</key>
	<string>finishSophisticatedTweakDecorator</string>
	<key>removeDiversifiedLeftHelper</key>
	<string>shearCommonFlagsArray</string>
</dict>
</plist>
