<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exitNextRightCollection</key>
	<string>transposeDeclarativeRectGroup</string>
	<key>fillCommonLoopDelegate</key>
	<string>setPermissiveBorderCollection</string>
	<key>insteadSubtleColorStack</key>
	<string>skipLostScenarioObserver</string>
	<key>setCartesianMetadataHelper</key>
	<string>stopMissedLeftCollection</string>
	<key>setCommonSegmentCollection</key>
	<string>unscheduleNewestNodeTarget</string>
	<key>stopSubsequentVideoStack</key>
	<string>getUniqueHashReference</string>
</dict>
</plist>
