<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentPivotalMenuHelper</key>
	<string>getCurrentFormatGroup</string>
	<key>getIntuitiveCoordContainer</key>
	<string>setRetainedVarCache</string>
	<key>getLastParticleBase</key>
	<string>cancelDirectRightCache</string>
</dict>
</plist>
