<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDenseHashDecorator</key>
	<string>parseSubtleValueObserver</string>
	<key>getSingleTopDecorator</key>
	<string>renameDelicateCoordinatorFilter</string>
	<key>initializeUsedLogContainer</key>
	<string>getIgnoredCenterHandler</string>
	<key>setDifficultParamStack</key>
	<string>pauseDiscardedNodeList</string>
</dict>
</plist>
