<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embedStandaloneAssetFactory</key>
	<string>endSingleRemainderList</string>
	<key>embraceLargeGraphList</key>
	<string>augmentFusedHeadBase</string>
	<key>endAccordionMusicOwner</key>
	<string>getActivatedVideoManager</string>
	<key>getCommonRightManager</key>
	<string>getSmallRightStack</string>
	<key>getIgnoredChartManager</key>
	<string>trainSubtleTextureContainer</string>
	<key>reducePivotalVisibleInstance</key>
	<string>getLocalSliderProtocol</string>
	<key>rotateDeclarativeBottomReference</key>
	<string>skipTypicalBoundFilter</string>
	<key>setConcreteImpressionDelegate</key>
	<string>removeUniqueSceneContainer</string>
	<key>setSemanticVarContainer</key>
	<string>setOtherShaderType</string>
</dict>
</plist>
