<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateEphemeralButtonAdapter</key>
	<string>endTypicalViewReference</string>
	<key>continueKeyMetadataOwner</key>
	<string>restartGlobalPositionCollection</string>
	<key>getIndependentExponentPool</key>
	<string>releasePermanentTextCache</string>
	<key>getPrimaryMetadataHandler</key>
	<string>fillSharedEdgeProtocol</string>
	<key>holdRequiredTopFilter</key>
	<string>setResilientScalabilityPool</string>
	<key>pushIgnoredValueStack</key>
	<string>getExplicitResolverManager</string>
	<key>restartCrudeProjectProtocol</key>
	<string>readImmutableBorderImplement</string>
	<key>setReusableParameterPool</key>
	<string>convertDisparateRestrictionOwner</string>
</dict>
</plist>
