<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getIntuitiveVarObserver</key>
	<string>endMediumGateObserver</string>
	<key>initializeRetainedVariableDelegate</key>
	<string>undertakeSymmetricValueBase</string>
	<key>poolCustomBoundDecorator</key>
	<string>setSortedVarContainer</string>
	<key>quantizationUsedInterfaceBase</key>
	<string>finishRetainedParameterHandler</string>
	<key>regulateCartesianSizeAdapter</key>
	<string>requestArithmeticTitleDelegate</string>
	<key>setComprehensiveNumberCreator</key>
	<string>prepareNewestVarFilter</string>
	<key>setPrismaticSegmentDecorator</key>
	<string>setArithmeticBufferType</string>
	<key>setRelationalSchemaPool</key>
	<string>updateSmallTextureFactory</string>
	<key>startSubsequentStrokeManager</key>
	<string>prepareReusableVariableDelegate</string>
</dict>
</plist>
