<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateEasySpriteType</key>
	<string>getNextValueHelper</string>
	<key>cancelElasticObjectObserver</key>
	<string>setGlobalStrengthHandler</string>
	<key>exitNumericalMemberAdapter</key>
	<string>setTensorButtonType</string>
	<key>getUnactivatedResolverImplement</key>
	<string>skipSecondNameOwner</string>
	<key>playMultiDepthProtocol</key>
	<string>setHyperbolicUsageImplement</string>
	<key>quantizationBasicStyleManager</key>
	<string>rotateSignificantBufferDelegate</string>
	<key>restartDirectRemediationList</key>
	<string>setFirstValuePool</string>
	<key>resumeSymmetricOperationImplement</key>
	<string>getRespectiveFrameTarget</string>
</dict>
</plist>
