<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelProtectedColorManager</key>
	<string>setFirstLoopContainer</string>
	<key>continueCurrentHeadObserver</key>
	<string>continueFirstSpriteOwner</string>
	<key>getArithmeticEventHelper</key>
	<string>getDifficultChartFactory</string>
	<key>getNormalBehaviorCreator</key>
	<string>introspectLostSpotCreator</string>
	<key>getOldTagObserver</key>
	<string>setHardRestrictionManager</string>
	<key>poolSortedMatrixObserver</key>
	<string>cancelUniqueTempleDecorator</string>
	<key>quitBasicGridAdapter</key>
	<string>setPrevColorFilter</string>
	<key>renameCustomizedBottomObserver</key>
	<string>setLastInstructionExtension</string>
	<key>setOtherAnimationManager</key>
	<string>displayRespectiveTopicFactory</string>
	<key>setSubsequentTopExtension</key>
	<string>restartEphemeralTangentExtension</string>
</dict>
</plist>
