<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getMutableParamFactory</key>
	<string>trainAssociatedBorderProtocol</string>
	<key>offsetFirstDeliveryInstance</key>
	<string>schedulePivotalEdgePool</string>
	<key>regulateSubsequentNumberObserver</key>
	<string>stopRelationalNotationGroup</string>
	<key>stopResilientIntegrityTarget</key>
	<string>retainPrevGrainCreator</string>
	<key>syncNormalCapacitiesPool</key>
	<string>showCommonViewCache</string>
</dict>
</plist>
