<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getMissedElasticityAdapter</key>
	<string>dropoutRelationalLeftProtocol</string>
	<key>getSubtleTextureGroup</key>
	<string>detachLastValueReference</string>
	<key>quantizerUnactivatedValueReference</key>
	<string>setImmutableMendInstance</string>
	<key>skipDeclarativeGiftDelegate</key>
	<string>mitigateSemanticCoordType</string>
</dict>
</plist>
