<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelElasticFormatObserver</key>
	<string>setFusedRightFactory</string>
	<key>continueKeyNumberObserver</key>
	<string>keepCrucialSceneFactory</string>
	<key>resumeNormalRectangleHelper</key>
	<string>getSubstantialRotationPool</string>
	<key>setSubsequentGemHandler</key>
	<string>multiplyResilientThresholdGroup</string>
	<key>upgradeMainBufferOwner</key>
	<string>makePivotalViewFilter</string>
</dict>
</plist>
