<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformSeamlessShaderTarget</key>
	<string>finishDirectBufferStack</string>
	<key>continueEuclideanLogImplement</key>
	<string>limitDenseCosineDecorator</string>
	<key>getPivotalEdgeDecorator</key>
	<string>initializeUsedCoordinatorStack</string>
	<key>locateAccessibleRangeDelegate</key>
	<string>setDiscardedVisibleContainer</string>
	<key>setPivotalPopupType</key>
	<string>setDenseDialogsPool</string>
</dict>
</plist>
