<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cleanOpaqueTailContainer</key>
	<string>lockImmutableNameFilter</string>
	<key>continueCustomizedBufferInstance</key>
	<string>wrapTensorProgressBarDecorator</string>
	<key>convertAccessibleOpacityAdapter</key>
	<string>prepareRespectiveTempleType</string>
	<key>markSecondTempleGroup</key>
	<string>pauseRetainedInteractionBase</string>
	<key>restoreHyperbolicEventList</key>
	<string>getImmutableViewObserver</string>
	<key>setPrimaryUtilManager</key>
	<string>endConsultativeCapsuleHandler</string>
	<key>startDisparateAssetOwner</key>
	<string>divideGlobalTailCache</string>
	<key>unlockHyperbolicGraphicCache</key>
	<string>setGranularHeadBase</string>
</dict>
</plist>
