<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateRetainedPolyfillCache</key>
	<string>visitConsultativeTempleFilter</string>
	<key>cancelSubsequentNumberObserver</key>
	<string>poolRobustVarBase</string>
	<key>generateBasicParticleCache</key>
	<string>adjustIgnoredTempleCollection</string>
	<key>getFirstBufferAdapter</key>
	<string>stopPrismaticSpriteReference</string>
	<key>getFusedBufferObserver</key>
	<string>poolPermanentFrameCollection</string>
	<key>initializeLiteBufferContainer</key>
	<string>setIntuitiveMenuReference</string>
	<key>keepSemanticGridType</key>
	<string>resumeMissedMendArray</string>
	<key>resumeSemanticNameCollection</key>
	<string>getUsedTempleExtension</string>
	<key>startCurrentEffectObserver</key>
	<string>getExplicitArithmeticImplement</string>
</dict>
</plist>
