<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endGreatOpacityStack</key>
	<string>getDenseBufferType</string>
	<key>pauseImmutableFlagsInstance</key>
	<string>resumeCustomizedIndexCollection</string>
	<key>setDifficultGemManager</key>
	<string>clipLargeVectorDecorator</string>
	<key>setPermissiveBufferGroup</key>
	<string>startPermissiveParamOwner</string>
	<key>startCommonStrengthObserver</key>
	<string>addIterativeTempleOwner</string>
	<key>visitRobustStatusType</key>
	<string>getMediumTextureType</string>
</dict>
</plist>
