<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateSharedRouteOwner</key>
	<string>finishMultiScaleOwner</string>
	<key>cloneDenseCompositionCache</key>
	<string>initializeDenseSineObserver</string>
	<key>keepOtherTitleGroup</key>
	<string>getPrimaryTweakBase</string>
	<key>startUsedEdgeCollection</key>
	<string>setIgnoredTentativeObserver</string>
</dict>
</plist>
