<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provideRapidScaleProtocol</key>
	<string>getPivotalRowPool</string>
	<key>setLostLeftGroup</key>
	<string>getConcurrentVarPool</string>
	<key>skipPriorParticleBase</key>
	<string>makeAccordionLeftObserver</string>
	<key>skipSubstantialUtilPool</key>
	<string>compareNewestArchitectureCache</string>
	<key>trainSmartSceneDelegate</key>
	<string>reconcileHierarchicalTopFactory</string>
</dict>
</plist>
