<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getAutoRangeProtocol</key>
	<string>moveSpecifyHashHandler</string>
	<key>initializeActivatedLogarithmArray</key>
	<string>trainIndependentApertureCache</string>
	<key>rotateCustomizedValuePool</key>
	<string>spinSemanticTempleGroup</string>
</dict>
</plist>
