<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPriorCharacteristicAdapter</key>
	<string>getCrucialPointExtension</string>
	<key>endSubtleSkinImplement</key>
	<string>getDedicatedButtonFilter</string>
	<key>getBasicBufferManager</key>
	<string>restartIterativeRectManager</string>
	<key>getRequiredDeliveryTarget</key>
	<string>getSharedVariableDelegate</string>
	<key>initializeLiteParameterTarget</key>
	<string>cancelRobustRectBase</string>
	<key>setLostReductionProtocol</key>
	<string>pauseCartesianRectangleList</string>
	<key>setNormalValueAdapter</key>
	<string>resumeGlobalColorCollection</string>
	<key>setSpecifyDeliveryOwner</key>
	<string>setNewestBaseReference</string>
</dict>
</plist>
