<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCurrentTangentFactory</key>
	<string>getBeginnerBufferType</string>
	<key>floatReusableDepthExtension</key>
	<string>touchCriticalRemainderHandler</string>
	<key>generateSynchronousVariableInstance</key>
	<string>keepSortedBitrateFilter</string>
	<key>getCommonBoundFactory</key>
	<string>endDeclarativeValueHelper</string>
	<key>pauseSortedControllerPool</key>
	<string>renameActivatedChecklistStack</string>
	<key>setSortedConsumptionCollection</key>
	<string>stopOtherConstantCreator</string>
	<key>setUsedCompositionTarget</key>
	<string>playDiversifiedEvaluationTarget</string>
	<key>unlockSubstantialValueFilter</key>
	<string>pauseResilientButtonGroup</string>
</dict>
</plist>
