<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>escalateSignificantButtonAdapter</key>
	<string>keepEasyFeatureInstance</string>
	<key>initializeOtherOptimizerContainer</key>
	<string>discoverPrimaryObjectAdapter</string>
	<key>limitGlobalValueBase</key>
	<string>adjustRelationalNameBase</string>
	<key>setSynchronousLayoutContainer</key>
	<string>setRequiredAllocatorReference</string>
</dict>
</plist>
