<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendCriticalCapacitiesCache</key>
	<string>setOldStatusCollection</string>
	<key>associateKeyIntegrityHelper</key>
	<string>getHierarchicalFlagsExtension</string>
	<key>cancelDiscardedSessionType</key>
	<string>skipDeclarativeVertexFilter</string>
	<key>drawAutoTweakGroup</key>
	<string>skipGranularEffectBase</string>
	<key>exitAdvancedMobileInstance</key>
	<string>generateRequiredViewProtocol</string>
	<key>pauseOldValueAdapter</key>
	<string>setOtherOriginStack</string>
	<key>pauseTypicalStampFilter</key>
	<string>getPriorBufferAdapter</string>
	<key>prepareSemanticNumberReference</key>
	<string>navigateBackwardHashAdapter</string>
	<key>setPermissiveRightAdapter</key>
	<string>finishDelicateTextureGroup</string>
	<key>stopExplicitTempleDelegate</key>
	<string>getAccordionTextureDelegate</string>
</dict>
</plist>
