<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDirectlyLeftHandler</key>
	<string>pausePublicMobileArray</string>
	<key>getMultiPopupType</key>
	<string>getGlobalTextureType</string>
	<key>getRequiredUtilHandler</key>
	<string>getAsynchronousFlagsFactory</string>
	<key>getSmartBottomImplement</key>
	<string>calculateEphemeralFlagsInstance</string>
	<key>getUniformCacheManager</key>
	<string>decouplePrismaticValueGroup</string>
	<key>regulateActivatedThresholdManager</key>
	<string>streamlineActivatedChartInstance</string>
	<key>replaceAsynchronousValueCollection</key>
	<string>setPrimarySignatureManager</string>
	<key>setPublicTrajectoryGroup</key>
	<string>startAccessibleImageType</string>
	<key>skipSingleVarFactory</key>
	<string>holdStandaloneInitiatorsCreator</string>
	<key>writeDisparateParameterAdapter</key>
	<string>getFusedObserverTarget</string>
</dict>
</plist>
