<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMissedNumberStack</key>
	<string>pauseRelationalSizeStack</string>
	<key>exitExplicitBufferContainer</key>
	<string>setReusableCacheCache</string>
	<key>getDirectNumberManager</key>
	<string>setResilientColorHelper</string>
	<key>pauseNumericalDocumentProtocol</key>
	<string>setSmallLogarithmGroup</string>
	<key>replaceConcreteGrainFilter</key>
	<string>syncPermissiveTagTarget</string>
	<key>setLargeSessionDelegate</key>
	<string>getCustomVarManager</string>
	<key>setOriginalIndexGroup</key>
	<string>parseLiteScaleHelper</string>
	<key>streamlineCrudeEdgeFilter</key>
	<string>keepPermissiveHeadExtension</string>
</dict>
</plist>
