<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cleanSophisticatedGroupOwner</key>
	<string>setBackwardBoundManager</string>
	<key>keepCustomizedValueStack</key>
	<string>reducePrimaryEdgeFilter</string>
	<key>pauseConcretePositionOwner</key>
	<string>decoupleCustomBoundType</string>
	<key>resumeTypicalNumberFilter</key>
	<string>getDenseOpacityCollection</string>
	<key>scheduleCustomizedMetricsHelper</key>
	<string>startGlobalDeliveryCreator</string>
	<key>setDisparateCursorPool</key>
	<string>setRapidIndexHandler</string>
	<key>setMutableMetricsPool</key>
	<string>startDiscardedContractionHelper</string>
	<key>wrapMultiSymbolCreator</key>
	<string>getUniqueTitleExtension</string>
</dict>
</plist>
