<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateFirstParamList</key>
	<string>dropoutGranularTweakCreator</string>
	<key>cancelIntuitiveUtilType</key>
	<string>finishDirectConfigurationFactory</string>
	<key>continueIndependentEquipmentHandler</key>
	<string>initializeIterativeCycleProtocol</string>
	<key>resetSeamlessFlagsStack</key>
	<string>startProtectedScaleStack</string>
	<key>seekArithmeticLayoutManager</key>
	<string>getDisplayableLeftDelegate</string>
	<key>spinCommonContractionHelper</key>
	<string>setUsedExponentFilter</string>
</dict>
</plist>
