<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>refreshPrimaryParamArray</key>
	<string>continueOtherThresholdHelper</string>
	<key>respondRapidGroupCollection</key>
	<string>resumeGeometricVarOwner</string>
	<key>resumeSymmetricVideoType</key>
	<string>stopLostBehaviorDecorator</string>
	<key>seekOldValueArray</key>
	<string>resumeNewestParameterContainer</string>
</dict>
</plist>
