<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDelicateLeftHandler</key>
	<string>endOriginalButtonInstance</string>
	<key>checkIntuitiveActivityType</key>
	<string>resumeOldPositionDecorator</string>
	<key>endRetainedPermutationArray</key>
	<string>prepareMutableToolDecorator</string>
	<key>findSingleMendInstance</key>
	<string>trainEuclideanMetadataCreator</string>
	<key>insteadSophisticatedSpriteType</key>
	<string>getSharedNumberInstance</string>
	<key>keepSustainableParamManager</key>
	<string>trainLiteNumberType</string>
	<key>lockElasticValueBase</key>
	<string>cancelDensePlaybackContainer</string>
	<key>playCustomGrainCache</key>
	<string>prepareSymmetricVisibleHandler</string>
	<key>setExplicitOriginFactory</key>
	<string>initializeProtectedHeadOwner</string>
	<key>setNumericalModelExtension</key>
	<string>continueDisplayableSliderReference</string>
</dict>
</plist>
