<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associateRequiredPopupHelper</key>
	<string>getLiteTextureReference</string>
	<key>getPermissivePointStack</key>
	<string>setUnsortedGraphExtension</string>
	<key>getRespectiveOriginDecorator</key>
	<string>keepPrismaticGrayscaleExtension</string>
	<key>keepMediocreSpriteImplement</key>
	<string>reducePrimaryDisclaimerGroup</string>
	<key>lockMutableValueFactory</key>
	<string>captureFusedStatusHelper</string>
	<key>requestLocalAnalogyArray</key>
	<string>setTensorNameCreator</string>
	<key>setMutableRightDecorator</key>
	<string>extendSubtleSizeCollection</string>
	<key>setSemanticEventBase</key>
	<string>pauseLocalSubpixelContainer</string>
	<key>skipPivotalBufferOwner</key>
	<string>initializeDirectBorderAdapter</string>
</dict>
</plist>
