<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishSeamlessNumberInstance</key>
	<string>continueRespectiveInfoDelegate</string>
	<key>getAsynchronousSizeReference</key>
	<string>cancelSmartAssetPool</string>
	<key>keepLiteBoundAdapter</key>
	<string>cancelPrimaryFrameExtension</string>
	<key>resumeAsynchronousCenterGroup</key>
	<string>aggregateHierarchicalLogHelper</string>
	<key>resumeCriticalEffectOwner</key>
	<string>getMediumAudioCollection</string>
	<key>searchPermissiveSkewXPool</key>
	<string>compareDiversifiedSpecifierDelegate</string>
	<key>setDeclarativeBufferList</key>
	<string>pauseSymmetricEdgeTarget</string>
	<key>setPermissiveIntegrationCollection</key>
	<string>visitSubsequentCosineType</string>
</dict>
</plist>
