<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueLastAnalogyFactory</key>
	<string>finishConcurrentTernaryCache</string>
	<key>keepHierarchicalSchemaCache</key>
	<string>eraseSmallSkewYCreator</string>
	<key>retrieveIndependentButtonObserver</key>
	<string>setMediocreHeadInstance</string>
	<key>setPrevInteractionType</key>
	<string>stopAccordionFlagsType</string>
	<key>trainSemanticFeatureStack</key>
	<string>cleanPrevParameterManager</string>
</dict>
</plist>
