<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueNumericalModelTarget</key>
	<string>combineMediocreOriginExtension</string>
	<key>getBeginnerParamProtocol</key>
	<string>resumeReusableSliderGroup</string>
	<key>getDirectTentativeReference</key>
	<string>continuePrismaticUtilInstance</string>
	<key>getNumericalTempleProtocol</key>
	<string>displayElasticParameterPool</string>
	<key>visitSubsequentParamOwner</key>
	<string>setTypicalSkewXOwner</string>
</dict>
</plist>
