<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateSubstantialResourceProtocol</key>
	<string>prepareLocalAlphaType</string>
	<key>continueUnactivatedObserverCache</key>
	<string>eraseUniformEffectAdapter</string>
	<key>getCriticalEquivalentList</key>
	<string>restartDeclarativeParamAdapter</string>
	<key>getCrucialTopHelper</key>
	<string>escalateCriticalElementHandler</string>
	<key>keepStaticRestrictionManager</key>
	<string>finishMediocreBoundCreator</string>
	<key>pauseKeyParamTarget</key>
	<string>getDirectlyNumberDecorator</string>
	<key>respondSubtleGateExtension</key>
	<string>setSynchronousPreviewDelegate</string>
	<key>resumeMissedVarProtocol</key>
	<string>endGreatTrajectoryDecorator</string>
	<key>shearBasicRightInstance</key>
	<string>pauseMutableCoordExtension</string>
</dict>
</plist>
