<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueStaticCycleFilter</key>
	<string>cancelGlobalParameterArray</string>
	<key>floatDirectlyDescriptionFilter</key>
	<string>cancelImmutableBufferArray</string>
	<key>quantizerDirectlyNumberHandler</key>
	<string>providePriorCaptionBase</string>
	<key>releaseSeamlessMatrixCollection</key>
	<string>setRetainedDescriptionProtocol</string>
	<key>restartAgileSkewXBase</key>
	<string>provideNextPaddingExtension</string>
	<key>setLostInitiativeBase</key>
	<string>trainMutableValueContainer</string>
</dict>
</plist>
