<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moveSymmetricFeatureCache</key>
	<string>respondUnactivatedTernaryAdapter</string>
	<key>offsetDenseLoopStack</key>
	<string>differentiatePriorMatrixList</string>
	<key>pauseEnabledEffectHelper</key>
	<string>retrieveRobustBandwidthFilter</string>
	<key>prepareRespectiveMenuCreator</key>
	<string>resizeBackwardNameHandler</string>
	<key>seekDiscardedVisibleExtension</key>
	<string>getSpecifyLossCache</string>
</dict>
</plist>
