<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelTensorParameterAdapter</key>
	<string>markPublicBasePool</string>
	<key>getPermanentParameterReference</key>
	<string>prepareNewestHashOwner</string>
	<key>getRobustIntensityPool</key>
	<string>cancelLocalEdgeStack</string>
	<key>setBeginnerDepthFactory</key>
	<string>endMultiReliabilityPool</string>
	<key>setNumericalDocumentGroup</key>
	<string>visitSynchronousUsageBase</string>
	<key>skipReusableCatalystFactory</key>
	<string>dropoutFirstTextureCollection</string>
</dict>
</plist>
