<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fillDenseResolverReference</key>
	<string>continueArithmeticChartGroup</string>
	<key>markSemanticGridHelper</key>
	<string>removeUniformVarStack</string>
	<key>skipHardNameProtocol</key>
	<string>appendOpaqueAmortizationCollection</string>
	<key>unscheduleHardVarArray</key>
	<string>restoreAssociatedLatencyReference</string>
</dict>
</plist>
