<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureSmartSchedulerDelegate</key>
	<string>enumerateUsedScenarioReference</string>
	<key>decoupleArithmeticLayerPool</key>
	<string>addTypicalOpacityObserver</string>
	<key>getHyperbolicBufferFactory</key>
	<string>checkSignificantTailReference</string>
	<key>getLostSizeObserver</key>
	<string>retrieveGreatAccessoryList</string>
	<key>getStaticInterpolationProtocol</key>
	<string>getSortedSkewYAdapter</string>
	<key>setGlobalChapterAdapter</key>
	<string>animateIntuitiveFlagsReference</string>
	<key>setPermanentSignTarget</key>
	<string>getProtectedConstantType</string>
	<key>skipSubsequentParameterGroup</key>
	<string>setFirstPreviewObserver</string>
	<key>trainDelicateMultiplicationProtocol</key>
	<string>respondUsedRangeExtension</string>
</dict>
</plist>
