<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureSharedNormProtocol</key>
	<string>setDenseElementList</string>
	<key>finishLiteRangeReference</key>
	<string>prepareUniqueResultPool</string>
	<key>initializeLastScaleDecorator</key>
	<string>getBackwardBoxType</string>
	<key>resetAdvancedVideoOwner</key>
	<string>updateSecondSpriteHandler</string>
	<key>setSpecifyProvisionCache</key>
	<string>showSignificantCycleObserver</string>
	<key>startElasticParticleFilter</key>
	<string>convertDeclarativeIntensityCreator</string>
</dict>
</plist>
