<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelIntuitiveBoundCollection</key>
	<string>regulateGreatDurationHandler</string>
	<key>destroyMediumMediaArray</key>
	<string>discoverUnsortedValueImplement</string>
	<key>getAccessiblePointDelegate</key>
	<string>keepSharedScaleObserver</string>
	<key>setLocalDepthGroup</key>
	<string>trainIndependentTagType</string>
	<key>skipPrevVarStack</key>
	<string>getOriginalTextBase</string>
</dict>
</plist>
