<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustEnabledSkewXAdapter</key>
	<string>prepareCurrentArchitectureHelper</string>
	<key>clearDeclarativeLayoutPool</key>
	<string>retrieveLostProjectionFilter</string>
	<key>continueStaticSliderProtocol</key>
	<string>setCrucialEquivalentStack</string>
	<key>equalIntermediateImagePool</key>
	<string>setDiscardedScreenExtension</string>
	<key>quantizerExplicitTagGroup</key>
	<string>getRespectiveMediaInstance</string>
	<key>trainHyperbolicBandwidthStack</key>
	<string>streamlineCommonRotationGroup</string>
</dict>
</plist>
