<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateComprehensiveZoneList</key>
	<string>prepareMediumParameterContainer</string>
	<key>decoupleSecondChapterExtension</key>
	<string>pauseKeyNodeCache</string>
	<key>getCommonReductionList</key>
	<string>getDifficultVarCreator</string>
	<key>setElasticObjectType</key>
	<string>navigateSmartVisibleCreator</string>
	<key>setSharedShaderTarget</key>
	<string>generateDedicatedParamHelper</string>
	<key>setUnsortedValueDecorator</key>
	<string>equalDeclarativeRightBase</string>
	<key>stopSmartGateContainer</key>
	<string>endTypicalValueTarget</string>
</dict>
</plist>
