<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSpecifyViewType</key>
	<string>pushDeclarativeVarArray</string>
	<key>endUnsortedDepthCreator</key>
	<string>stopEasyMobileHelper</string>
	<key>resizePrimarySignatureImplement</key>
	<string>readAsynchronousOptimizerGroup</string>
	<key>setAccessibleLayoutBase</key>
	<string>getLargeGrainType</string>
	<key>setFusedParamGroup</key>
	<string>removeLostLeftDecorator</string>
	<key>setOtherVisibleCollection</key>
	<string>getConsultativeParamArray</string>
	<key>setUsedQueueProtocol</key>
	<string>endArithmeticChartManager</string>
</dict>
</plist>
