<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continuePrevDescriptionDecorator</key>
	<string>finishMediumStepArray</string>
	<key>discoverNextValueStack</key>
	<string>visitIgnoredModuleHandler</string>
	<key>getSmallLayerFactory</key>
	<string>restartElasticEdgeAdapter</string>
	<key>lockNextKernelInstance</key>
	<string>wrapNumericalNameBase</string>
	<key>pauseStaticFeaturePool</key>
	<string>setNextFragmentHelper</string>
	<key>playMultiTextureGroup</key>
	<string>resumeLastBottomCache</string>
	<key>setDelicateViewOwner</key>
	<string>getCurrentGroupOwner</string>
	<key>setEasyCycleBase</key>
	<string>stopSustainablePolygonFilter</string>
	<key>setNewestParamHandler</key>
	<string>keepRequiredHeadAdapter</string>
	<key>setRelationalChartCache</key>
	<string>getSubsequentTextureFilter</string>
</dict>
</plist>
