<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateBackwardOptimizerProtocol</key>
	<string>captureSortedParameterGroup</string>
	<key>endUniformItemList</key>
	<string>embraceCrucialOriginArray</string>
	<key>getDeclarativeParameterInstance</key>
	<string>refreshSustainableCoordHelper</string>
	<key>getSignificantImageContainer</key>
	<string>setLostEntropyFilter</string>
	<key>getSubsequentLeftManager</key>
	<string>readDeclarativeTextureHandler</string>
	<key>pauseSortedBrushHelper</key>
	<string>setUsedParamArray</string>
	<key>playOriginalFrameAdapter</key>
	<string>restartMissedTitleHelper</string>
	<key>revisitLastCenterInstance</key>
	<string>setDirectlyDetailFactory</string>
	<key>setDenseLoopPool</key>
	<string>restartPermanentMechanismCollection</string>
	<key>setMediocreInstructionFactory</key>
	<string>quantizationRapidValueManager</string>
</dict>
</plist>
