<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustAdvancedItemHelper</key>
	<string>convertProtectedParamExtension</string>
	<key>finishPublicRightImplement</key>
	<string>keepArithmeticTernaryAdapter</string>
	<key>finishSubstantialRowReference</key>
	<string>stopLastStyleExtension</string>
	<key>getDisparateVarManager</key>
	<string>cancelAccessibleVariableTarget</string>
	<key>getOldDurationProtocol</key>
	<string>searchRobustSpriteCollection</string>
	<key>getSubtleSizeContainer</key>
	<string>setCommonButtonType</string>
	<key>setLiteSoundExtension</key>
	<string>skipSustainableVarPool</string>
	<key>setSymmetricColorPool</key>
	<string>detachPermissiveGraphType</string>
</dict>
</plist>
