<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelFirstValueFactory</key>
	<string>pauseGeometricVarStack</string>
	<key>finishPrimaryFrameGroup</key>
	<string>continueRequiredCoordObserver</string>
	<key>getPriorOperationReference</key>
	<string>getOtherShaderHandler</string>
	<key>prepareCommonNumberList</key>
	<string>setIntuitiveBorderProtocol</string>
	<key>respondHyperbolicNameStack</key>
	<string>adjustRespectiveParameterType</string>
	<key>resumeOriginalDialogsPool</key>
	<string>resumePrismaticCurveDecorator</string>
	<key>setStaticVarCreator</key>
	<string>multiplyUsedNodeProtocol</string>
	<key>setSubstantialVisibleList</key>
	<string>writeUnactivatedButtonCollection</string>
	<key>trainDisparateElasticityReference</key>
	<string>restartUniqueFragmentsHelper</string>
	<key>trainGlobalRectangleFilter</key>
	<string>getNumericalNumberList</string>
</dict>
</plist>
