<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dismissDiscardedVariantManager</key>
	<string>storeLargeRowOwner</string>
	<key>getCustomGemProtocol</key>
	<string>lockPrimaryObjectFilter</string>
	<key>getNextChapterContainer</key>
	<string>skipUnactivatedAllocatorDecorator</string>
	<key>getRetainedDataReference</key>
	<string>getPrimaryLayoutGroup</string>
	<key>refreshFusedNameTarget</key>
	<string>getIgnoredAscentGroup</string>
	<key>resumeSortedEvaluationImplement</key>
	<string>setPivotalDescriptionObserver</string>
	<key>setPriorBorderDecorator</key>
	<string>getSignificantModelHelper</string>
	<key>startSecondActionArray</key>
	<string>keepPermissiveTempleHelper</string>
	<key>trainBackwardNotationContainer</key>
	<string>executeSubtleBottomArray</string>
</dict>
</plist>
